<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.temp.trans.t86.Type86Mapper">

	<select id="selectOrderList" resultType="com.example.temp.api.aci.vo.ApiOrderListVO" parameterType="String">
		SELECT
			ISNULL(NNO,'') AS NNO,
			ISNULL(ORG_STATION,'') AS ORG_STATION,
			ISNULL(DSTN_NATION,'') AS DSTN_NATION,
			ISNULL(ORDER_NO,'') AS ORDER_NO,
			ISNULL(SHIPPER_NAME,'') AS SHIPPER_NAME,
			ISNULL(SHIPPER_TEL,'') AS SHIPPER_TEL,
			ISNULL(SHIPPER_ADDR,'') AS SHIPPER_ADDR,
			ISNULL(SHIPPER_ADDR_DETAIL,'') AS SHIPPER_ADDR_DETAIL,
			ISNULL(SHIPPER_STATE,'SEOUL') AS SHIPPER_STATE,
			ISNULL(SHIPPER_CITY,'SEOUL') AS SHIPPER_CITY,
			ISNULL(SHIPPER_ZIP,'') AS SHIPPER_ZIP,
			ISNULL(CNEE_NAME,'') AS CNEE_NAME,
			ISNULL(CASE WHEN NATIVE_CNEE_NAME = '' THEN CNEE_NAME ELSE NATIVE_CNEE_NAME END ,'') AS NATIVE_CNEE_NAME,
			ISNULL(CNEE_TEL,'') AS CNEE_TEL,
			ISNULL(CNEE_HP,'') AS CNEE_HP,
			ISNULL(CNEE_ZIP,'') AS CNEE_ZIP,
			ISNULL(CNEE_STATE,'') AS CNEE_STATE, 
			ISNULL(CNEE_CITY,'') AS CNEE_CITY,
			ISNULL(CASE WHEN NATIVE_CNEE_ADDR = '00NECwQh10Wxb0w0BjtJlw==' THEN CNEE_ADDR ELSE NATIVE_CNEE_ADDR END,'') AS CNEE_ADDR ,
			ISNULL(CASE WHEN NATIVE_CNEE_ADDR_DETAIL = '00NECwQh10Wxb0w0BjtJlw==' THEN CNEE_ADDR_DETAIL ELSE NATIVE_CNEE_ADDR_DETAIL END ,'')  AS CNEE_ADDR_DETAIL,
			ISNULL(CNEE_EMAIL,'') AS CNEE_EMAIL,
			ISNULL(CUSTOMS_NO,'') AS CUSTOMS_NO,
			ISNULL((SELECT WTA FROM TB_HAWB WHERE NNO = F1.NNO),'0.0') AS USER_WTA,
			ISNULL((SELECT WTC FROM TB_HAWB WHERE NNO = F1.NNO),'0.0') AS USER_WTC,
			ISNULL((SELECT WT_UNIT FROM TB_VOLUME WHERE NNO = F1.NNO),'KG') AS WT_UNIT,
			ISNULL(BOX_CNT,'1') AS BOX_CNT,
			ISNULL((SELECT CHG_CURRENCY FROM TB_ORDER_ITEM WHERE NNO = F1.NNO AND SUB_NO ='1'),'') AS CHG_CURRENCY,
			ISNULL((SELECT UNIT_CURRENCY FROM TB_ORDER_ITEM WHERE NNO = F1.NNO AND SUB_NO ='1'),'') AS UNIT_CURRENCY,
			ISNULL((SELECT WIDTH FROM TB_VOLUME WHERE NNO = F1.NNO),'0.0') AS USER_WIDTH,
			ISNULL((SELECT LENGTH FROM TB_VOLUME WHERE NNO = F1.NNO),'0.0') AS USER_LENGTH,
			ISNULL((SELECT HEIGHT FROM TB_VOLUME WHERE NNO = F1.NNO),'0.0') AS USER_HEIGHT,
			ISNULL((SELECT DIM_UNIT FROM TB_VOLUME WHERE NNO = F1.NNO),'CM') AS DIM_UNIT,
			ISNULL(GET_BUY,'') AS GET_BUY,
			ISNULL(PAYMENT,'') AS PAYMENT
		FROM TB_ORDER_LIST F1 WHERE NNO = #{nno}
	</select>
	
	<select id="selectTmpOrderList" resultType="com.example.temp.api.aci.vo.ApiOrderListVO" parameterType="String">
		SELECT
			ISNULL(NNO,'') AS NNO,
			ISNULL(ORG_STATION,'') AS ORG_STATION,
			ISNULL(DSTN_NATION,'') AS DSTN_NATION,
			ISNULL(ORDER_NO,'') AS ORDER_NO,
			ISNULL(SHIPPER_NAME,'') AS SHIPPER_NAME,
			ISNULL(SHIPPER_TEL,'') AS SHIPPER_TEL,
			ISNULL(SHIPPER_ADDR,'') AS SHIPPER_ADDR,
			ISNULL(SHIPPER_ADDR_DETAIL,'') AS SHIPPER_ADDR_DETAIL,
			ISNULL(SHIPPER_STATE,'SEOUL') AS SHIPPER_STATE,
			ISNULL(SHIPPER_CITY,'SEOUL') AS SHIPPER_CITY,
			ISNULL(SHIPPER_ZIP,'') AS SHIPPER_ZIP,
			ISNULL(CNEE_NAME,'') AS CNEE_NAME,
			ISNULL(CASE WHEN NATIVE_CNEE_NAME = '' THEN CNEE_NAME ELSE NATIVE_CNEE_NAME END ,'') AS NATIVE_CNEE_NAME,
			ISNULL(CNEE_TEL,'') AS CNEE_TEL,
			ISNULL(CNEE_HP,'') AS CNEE_HP,
			ISNULL(CNEE_ZIP,'') AS CNEE_ZIP,
			ISNULL(CNEE_STATE,'') AS CNEE_STATE, 
			ISNULL(CNEE_CITY,'') AS CNEE_CITY,
			ISNULL(CASE WHEN NATIVE_CNEE_ADDR = '00NECwQh10Wxb0w0BjtJlw==' THEN CNEE_ADDR ELSE NATIVE_CNEE_ADDR END,'') AS CNEE_ADDR ,
			ISNULL(CASE WHEN NATIVE_CNEE_ADDR_DETAIL = '00NECwQh10Wxb0w0BjtJlw==' THEN CNEE_ADDR_DETAIL ELSE NATIVE_CNEE_ADDR_DETAIL END ,'')  AS CNEE_ADDR_DETAIL,
			ISNULL(CNEE_EMAIL,'') AS CNEE_EMAIL,
			ISNULL(CUSTOMS_NO,'') AS CUSTOMS_NO,
			ISNULL(USER_WTA,'0.0') AS USER_WTA,
			ISNULL(USER_WTC,'0.0') AS USER_WTC,
			ISNULL(WT_UNIT,'KG') AS WT_UNIT,
			ISNULL(BOX_CNT,'1') AS BOX_CNT,
			ISNULL((SELECT CHG_CURRENCY FROM TMP_ORDER_ITEM WHERE NNO = F1.NNO AND SUB_NO ='1'),'') AS CHG_CURRENCY,
			ISNULL((SELECT UNIT_CURRENCY FROM TMP_ORDER_ITEM WHERE NNO = F1.NNO AND SUB_NO ='1'),'') AS UNIT_CURRENCY,
			ISNULL(USER_WIDTH,'0.0') AS USER_WIDTH,
			ISNULL(USER_LENGTH,'0.0') AS USER_LENGTH,
			ISNULL(USER_HEIGHT,'0.0') AS USER_HEIGHT,
			ISNULL(DIM_UNIT,'CM') AS DIM_UNIT,
			ISNULL(GET_BUY,'') AS GET_BUY,
			ISNULL(PAYMENT,'') AS PAYMENT
		FROM TMP_ORDER_LIST F1 WHERE NNO = #{nno}
	</select>

	<insert id="insertErrorMatch" parameterType="HashMap">
		INSERT INTO TB_ERROR_MATCH (
			[NNO],
			[ERROR_MSG],
			[USE_YN],
			[W_USER_ID],
			[W_USER_IP],
			[W_DATE]
		) VALUES (
			#{nno},
			#{errorMsg},
			#{useYn},
			#{wUserId},
			#{wUserIp},
			(SELECT LEFT((Select Convert(varchar(10),Getdate(),112) + Replace(Convert(varchar(8),Getdate(),108),':','')),12))
		);
		
	</insert>
	
	<select id="selectBlApply" parameterType="com.example.temp.member.vo.TestssVO" resultType="com.example.temp.member.vo.BlApplyVO" statementType="CALLABLE">
		DECLARE
		    @RST_STATUS NVARCHAR(50),
		    @RST_CODE NVARCHAR(50),
		    @RST_MSG NVARCHAR(100),
		    @RST_NNO NVARCHAR(50),
		    @RST_HAWB_NO NVARCHAR(50)
	
		EXEC SP_TRANS_BL_APPLY_T86
			#{nno},
			#{userId},
			#{userIp},
			#{hawbNo},
			#{transCode},
			@RST_STATUS output,
			@RST_CODE output,
			@RST_MSG output,
			@RST_NNO output,
			@RST_HAWB_NO output
	
		SELECT @RST_STATUS as STATUS, @RST_CODE as RST_CODE, @RST_MSG as RST_MSG, @RST_NNO as NNO, @RST_HAWB_NO as HAWB_NO;
	</select>
	
	<select id="selectHawbNoByNNO" parameterType="String" resultType="String">
		SELECT HAWB_NO FROM TB_ORDER_LIST WHERE nno = #{nno}
	</select>
	
	<update id="updateOrderListDate" parameterType="hashMap">
		UPDATE TB_ORDER_LIST
		SET W_DATE = #{wDate}
		WHERE NNO = #{nno}
	</update>
	
	<select id="selectUserIdByNNO" parameterType="String" resultType="String">
		SELECT USER_ID
		FROM TB_ORDER_LIST
		WHERE NNO = #{nno}
	</select>
	
	<insert id="insertApiConn" parameterType="hashMap">
		INSERT INTO TB_APICONN
		(NNO, CONN_URL, HEADER_CONTENTS, BODY_CONTENTS, RST_CONTENTS, W_USER_ID, W_USER_IP, W_DATE) VALUES
		(#{nno}, #{connUrl}, #{headContents}, #{jsonObject}, #{errorMsg}, #{wUserId}, #{wUserIp}, GETDATE())
	</insert>
	
	<select id="selectMatchNumByHawb" parameterType="String" resultType="String">
		SELECT TRK_NO FROM TB_DELIVERY_INFO WHERE HAWB_NO = #{hawbNo}
	</select>
	
	<select id="selectOrderInfoOne" resultType="com.example.temp.api.aci.vo.ApiOrderListVO" parameterType="String">
		SELECT
			ISNULL(NNO,'') AS NNO,
			ISNULL(DSTN_NATION,'') AS DSTN_NATION,
			ISNULL(ORDER_NO,'') AS ORDER_NO,
			ISNULL(SHIPPER_NAME,'') AS SHIPPER_NAME,
			ISNULL(SHIPPER_TEL,'') AS SHIPPER_TEL,
			ISNULL(SHIPPER_ADDR,'') AS SHIPPER_ADDR,
			ISNULL(SHIPPER_ADDR_DETAIL,'') AS SHIPPER_ADDR_DETAIL,
			ISNULL(SHIPPER_STATE,'SEOUL') AS SHIPPER_STATE,
			ISNULL(SHIPPER_CITY,'SEOUL') AS SHIPPER_CITY,
			ISNULL(SHIPPER_ZIP,'') AS SHIPPER_ZIP,
			ISNULL(CNEE_NAME,'') AS CNEE_NAME,
			ISNULL(CASE WHEN NATIVE_CNEE_NAME = '' THEN CNEE_NAME ELSE NATIVE_CNEE_NAME END ,'') AS NATIVE_CNEE_NAME,
			ISNULL(CNEE_TEL,'') AS CNEE_TEL,
			ISNULL(CNEE_HP,'') AS CNEE_HP,
			ISNULL(CNEE_ZIP,'') AS CNEE_ZIP,
			ISNULL(CNEE_STATE,'') AS CNEE_STATE, 
			ISNULL(CNEE_CITY,'') AS CNEE_CITY,
			ISNULL(CASE WHEN NATIVE_CNEE_ADDR = '00NECwQh10Wxb0w0BjtJlw==' THEN CNEE_ADDR ELSE NATIVE_CNEE_ADDR END,'') AS CNEE_ADDR ,
			ISNULL(CASE WHEN NATIVE_CNEE_ADDR_DETAIL = '00NECwQh10Wxb0w0BjtJlw==' THEN CNEE_ADDR_DETAIL ELSE NATIVE_CNEE_ADDR_DETAIL END ,'')  AS CNEE_ADDR_DETAIL,
			ISNULL(CNEE_EMAIL,'') AS CNEE_EMAIL,
			ISNULL(CUSTOMS_NO,'') AS CUSTOMS_NO,
			ISNULL((SELECT WTA FROM TB_HAWB WHERE NNO = F1.NNO),'0.0') AS USER_WTA,
			ISNULL((SELECT WTC FROM TB_HAWB WHERE NNO = F1.NNO),'0.0') AS USER_WTC,
			ISNULL((SELECT WT_UNIT FROM TB_VOLUME WHERE NNO = F1.NNO),'KG') AS WT_UNIT,
			ISNULL(BOX_CNT,'1') AS BOX_CNT,
			ISNULL((SELECT CHG_CURRENCY FROM TB_ORDER_ITEM WHERE NNO = F1.NNO AND SUB_NO ='1'),'') AS CHG_CURRENCY,
			ISNULL((SELECT UNIT_CURRENCY FROM TB_ORDER_ITEM WHERE NNO = F1.NNO AND SUB_NO ='1'),'') AS UNIT_CURRENCY,
			ISNULL((SELECT WIDTH FROM TB_VOLUME WHERE NNO = F1.NNO),'0.0') AS USER_WIDTH,
			ISNULL((SELECT LENGTH FROM TB_VOLUME WHERE NNO = F1.NNO),'0.0') AS USER_LENGTH,
			ISNULL((SELECT HEIGHT FROM TB_VOLUME WHERE NNO = F1.NNO),'0.0') AS USER_HEIGHT,
			ISNULL((SELECT DIM_UNIT FROM TB_VOLUME WHERE NNO = F1.NNO),'CM') AS DIM_UNIT,
			ISNULL(GET_BUY,'') AS GET_BUY,
			ISNULL(PAYMENT,'') AS PAYMENT
		FROM TB_ORDER_LIST F1 WHERE NNO = #{nno}
	</select>
</mapper>