<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.temp.api.logistics.mapper.LogisticsMapper">

	<select id="selectCJInfo" parameterType="hashMap" resultType="com.example.temp.api.logistics.dto.CJInfo">
		SELECT 
			CUST_ID,
			BIZ_NO,
			TOKEN_NO,
			TOKEN_E_DATE,
			CASE WHEN TOKEN_E_DATE <![CDATA[ < ]]> GETDATE() OR TOKEN_E_DATE <![CDATA[ <= ]]> DATEADD(MINUTE, 30, GETDATE()) THEN 'Y'
			ELSE 'N' 
			END IS_TOKEN_EXPIRED
		FROM TB_CJ_INFO
		WHERE CUST_ID = #{custId}
	</select>
	
	<update id="updateCJTokenInfo" parameterType="com.example.temp.api.logistics.dto.CJInfo">
		UPDATE TB_CJ_INFO SET TOKEN_NO = #{tokenNo}, TOKEN_E_DATE = #{tokenEDate}, TOKEN_W_DATE = GETDATE() 
		WHERE CUST_ID = #{custId}
	</update>
	
	<select id="selectTmpOrder" parameterType="hashMap" resultType="com.example.temp.api.Order">
		SELECT
			NNO,
			ISNULL(ORG_STATION,'') AS ORG_STATION,
			ISNULL(DSTN_NATION,'') AS DSTN_NATION,
			ISNULL(DSTN_STATION,'') AS DSTN_STATION,
			ISNULL(USER_ID,'') AS USER_ID,
			ISNULL(ORDER_TYPE,'') AS ORDER_TYPE,
			ISNULL(ORDER_NO,'') AS ORDER_NO,
			ISNULL(HAWB_NO,'') AS HAWB_NO,
			ISNULL(BOX_CNT,1) AS BOX_CNT,
			ROUND(ISNULL(USER_WTA,0),2) AS USER_WTA,
			ROUND(ISNULL(USER_WTC,0),2) AS USER_WTC,
			ISNULL(SHIPPER_NAME,'') AS SHIPPER_NAME,
			ISNULL(SHIPPER_ZIP,'') AS SHIPPER_ZIP,
			ISNULL(SHIPPER_TEL,'') AS SHIPPER_TEL,
			ISNULL(SHIPPER_HP,'') AS SHIPPER_HP,
			ISNULL(SHIPPER_CNTRY,'') AS SHIPPER_CNTRY,
			ISNULL(SHIPPER_CITY,'') AS SHIPPER_CITY,
			ISNULL(SHIPPER_STATE,'') AS SHIPPER_STATE,
			ISNULL(SHIPPER_ADDR,'') AS SHIPPER_ADDR,
			ISNULL(SHIPPER_ADDR_DETAIL,'') AS SHIPPER_ADDR_DETAIL,
			ISNULL(CNEE_NAME,'') AS CNEE_NAME,
			ISNULL(CNEE_ADDR,'') AS CNEE_ADDR,
			ISNULL(CNEE_ZIP,'') AS CNEE_ZIP,
			ISNULL(CNEE_TEL,'') AS CNEE_TEL,
			ISNULL(CNEE_HP,'') AS CNEE_HP,
			ISNULL(CNEE_CNTRY,'') AS CNEE_CNTRY,
			ISNULL(CNEE_CITY,'') AS CNEE_CITY,
			ISNULL(CNEE_STATE,'') AS CNEE_STATE,
			ISNULL(CNEE_ADDR_DETAIL,'') AS CNEE_ADDR_DETAIL,
			ROUND(ISNULL(USER_LENGTH,0),2) AS USER_LENGTH,
			ROUND(ISNULL(USER_WIDTH,0),2) AS USER_WIDTH,
			ROUND(ISNULL(USER_HEIGHT,0),2) AS USER_HEIGHT,
			ISNULL(USER_EMAIL,'') AS USER_EMAIL,
			ISNULL(W_USER_ID,'') AS W_USER_ID,
			ISNULL(W_USER_IP,'') AS W_USER_IP,
			ISNULL(W_DATE,'') AS W_DATE,
			ISNULL(TRANS_CODE,'') AS TRANS_CODE,
			ISNULL(ORDER_DATE,'') AS ORDER_DATE,
			ISNULL(STATUS,'') AS STATUS,
			ISNULL(CNEE_EMAIL,'') AS CNEE_EMAIL,
			ISNULL(CUSTOMS_NO,'') AS CUSTOMS_NO,
			ISNULL(NATIVE_CNEE_NAME,'') AS NATIVE_CNEE_NAME,
			ISNULL(NATIVE_CNEE_ADDR,'') AS NATIVE_CNEE_ADDR,
			ISNULL(NATIVE_CNEE_ADDR_DETAIL,'') AS NATIVE_CNEE_ADDR_DETAIL,
			ISNULL(DIM_UNIT,'CM') AS DIM_UNIT,
			ISNULL(WT_UNIT,'KG') AS WT_UNIT,
			ISNULL(BUY_SITE,'') AS BUY_SITE,
			ISNULL(GET_BUY,'') AS GET_BUY,
			ISNULL(MALL_TYPE,'') AS MALL_TYPE,
			ISNULL(WH_REQ_MSG,'') AS WH_REQ_MSG,
			ISNULL(DLV_REQ_MSG,'') AS DLV_REQ_MSG,
			ISNULL(CNEE_DISTRICT,'') AS CNEE_DISTRICT,
			ISNULL(SHIPPER_REFERENCE,'') AS SHIPPER_REFERENCE,
			ISNULL(CNEE_REFERENCE1,'') AS CNEE_REFERENCE1,
			ISNULL(CNEE_REFERENCE2,'') AS CNEE_REFERENCE2,
			ISNULL(PAYMENT,'DDU') AS PAYMENT,
			ISNULL(FOOD,'N') AS FOOD,
			ISNULL(DECL_TYPE,4) AS DECL_TYPE,
			ISNULL(UPLOAD_TYPE,'') AS UPLOAD_TYPE,
			ISNULL(CNEE_WARD,'') AS CNEE_WARD,
			ISNULL(COSMETIC,'N') AS COSMETIC,
			ISNULL(SIGN,'N') AS SIGN,
			ISNULL(SHIPPER_TAX_NO,'') AS SHIPPER_TAX_NO,
			ISNULL(SHIPPER_TAX_TYPE,'') AS SHIPPER_TAX_TYPE,
			ISNULL(CNEE_TAX_NO,'') AS CNEE_TAX_NO,
			ISNULL(CNEE_TAX_TYPE,'') AS CNEE_TAX_TYPE,
			ISNULL((SELECT ITEM_DETAIL FROM TMP_ORDER_ITEM WHERE NNO = F1.NNO AND SUB_NO = 1 AND USER_ID = F1.USER_ID AND ORG_STATION = F1.ORG_STATION),'') AS ITEM_DETAIL,
			ROUND((SELECT SUM(UNIT_VALUE*ITEM_CNT) FROM TMP_ORDER_ITEM WHERE NNO = F1.NNO AND USER_ID = F1.USER_ID AND ORG_STATION = F1.ORG_STATION),2) AS UNIT_VALUE,
			(SELECT SUM(ITEM_CNT) FROM TMP_ORDER_ITEM WHERE NNO = F1.NNO AND USER_ID = F1.USER_ID AND ORG_STATION = F1.ORG_STATION) AS ITEM_CNT
		FROM TMP_ORDER_LIST F1
		WHERE NNO = #{nno} AND USER_ID = #{userId} AND ORDER_TYPE = #{orderType}
	</select>
	
	<select id="selectTmpItems" parameterType="hashMap" resultType="com.example.temp.api.Item">
		SELECT
			NNO,
			ISNULL(SUB_NO,1) AS SUB_NO,
			ISNULL(ORG_STATION,'') AS ORG_STATION,
			ISNULL(USER_ID,'') AS USER_ID,
			ISNULL(HS_CODE,'') AS HS_CODE,
			ISNULL(ITEM_DETAIL,'') AS ITEM_DETAIL,
			ISNULL(UNIT_CURRENCY,'') AS UNIT_CURRENCY,
			ISNULL(ITEM_CNT,1) AS ITEM_CNT,
			ROUND(ISNULL(UNIT_VALUE,0),2) AS UNIT_VALUE,
			ISNULL(BRAND,'') AS BRAND,
			ISNULL(MAKE_CNTRY,'') AS MAKE_CNTRY,
			ISNULL(MAKE_COM,'') AS MAKE_COM,
			ISNULL(ITEM_DIV,'') AS ITEM_DIV,
			ISNULL(WT_UNIT,'') AS WT_UNIT,
			ISNULL(QTY_UNIT,'') AS QTY_UNIT,
			ISNULL(PACKAGE_UNIT,'') AS PACKAGE_UNIT,
			ROUND(ISNULL(EXCHANGE_RATE,0),2) AS EXCHANGE_RATE,
			ISNULL(CHG_CURRENCY,'') AS CHG_CURRENCY,
			ROUND(ISNULL(CHG_AMT,0),2) AS CHG_AMT,
			ISNULL(ITEM_METERIAL,'') AS ITEM_METERIAL,
			ISNULL(TAKE_IN_CODE,'') AS TAKE_IN_CODE,
			ROUND(ISNULL(USER_WTA,0),2) AS USER_WTA,
			ROUND(ISNULL(USER_WTC,0),2) AS USER_WTC,
			ISNULL(ITEM_URL,'') AS ITEM_URL,
			ISNULL(ITEM_IMG_URL,'') AS ITEM_IMG_URL,
			ISNULL(STATUS,'') AS STATUS,
			ISNULL(TRK_COM,'') AS TRK_COM,
			ISNULL(TRK_NO,'') AS TRK_NO,
			ISNULL(TRK_DATE,'') AS TRK_DATE,
			ISNULL(NATIVE_ITEM_DETAIL,'') AS NATIVE_ITEM_DETAIL,
			ISNULL(CUS_ITEM_CODE,'') AS CUS_ITEM_CODE,
			ISNULL(W_USER_ID,'') AS W_USER_ID,
			ISNULL(W_USER_IP,'') AS W_USER_IP,
			ISNULL(W_DATE,'') AS W_DATE,
			ISNULL(NATION_CODE,'') AS NATION_CODE,
			ISNULL(DIM_UNIT,'') AS DIM_UNIT,
			ISNULL(ITEM_COLOR,'') AS ITEM_COLOR,
			ISNULL(ITEM_SIZE,'') AS ITEM_SIZE
		FROM TMP_ORDER_ITEM
		WHERE NNO = #{nno} AND USER_ID = #{userId}
	</select>
	
	<select id="selectExportDeclare" parameterType="hashMap" resultType="com.example.temp.api.Export">
		SELECT
			ISNULL(NNO,'') AS NNO,
			ISNULL(USER_ID,'') AS USER_ID,
			ISNULL(EXP_TYPE,'') AS EXP_TYPE,
			ISNULL(EXP_COR,'') AS EXP_COR,
			ISNULL(EXP_RPRSN,'') AS EXP_RPRSN,
			ISNULL(EXP_ADDR,'00NECwQh10Wxb0w0BjtJlw==') AS EXP_ADDR,
			ISNULL(EXP_ZIP,'') AS EXP_ZIP,
			ISNULL(EXP_RGSTR_NO,'00NECwQh10Wxb0w0BjtJlw==') AS EXP_RGSTR_NO,
			ISNULL(EXP_CST_CD,'00NECwQh10Wxb0w0BjtJlw==') AS EXP_CST_CD,
			ISNULL(AGT_COR,'') AS AGT_COR,
			ISNULL(AGT_CST_CD,'00NECwQh10Wxb0w0BjtJlw==') AS AGT_CST_CD,
			ISNULL(AGT_BIZ_NO,'') AS AGT_BIZ_NO,
			ISNULL(EXP_NO,'') AS EXP_NO,
			ISNULL(SEND_YN,'') AS SEND_YN,
			ISNULL(W_DATE,'') AS W_DATE
		FROM TB_EXP_DCL
		WHERE NNO = #{nno} AND USER_ID = #{userId}
	</select>
	
	<select id="selectTmpOrderList" parameterType="hashMap" resultType="com.example.temp.api.Order">
		SELECT
			NNO,
			ISNULL(ORG_STATION,'') AS ORG_STATION,
			ISNULL(DSTN_NATION,'') AS DSTN_NATION,
			ISNULL(DSTN_STATION,'') AS DSTN_STATION,
			ISNULL(USER_ID,'') AS USER_ID,
			ISNULL(ORDER_TYPE,'') AS ORDER_TYPE,
			ISNULL(ORDER_NO,'') AS ORDER_NO,
			ISNULL(HAWB_NO,'') AS HAWB_NO,
			ISNULL(BOX_CNT,1) AS BOX_CNT,
			ISNULL(USER_WTA,0) AS USER_WTA,
			ISNULL(USER_WTC,0) AS USER_WTC,
			ISNULL(SHIPPER_NAME,'') AS SHIPPER_NAME,
			ISNULL(SHIPPER_ZIP,'') AS SHIPPER_ZIP,
			ISNULL(SHIPPER_TEL,'') AS SHIPPER_TEL,
			ISNULL(SHIPPER_HP,'') AS SHIPPER_HP,
			ISNULL(SHIPPER_CNTRY,'') AS SHIPPER_CNTRY,
			ISNULL(SHIPPER_CITY,'') AS SHIPPER_CITY,
			ISNULL(SHIPPER_STATE,'') AS SHIPPER_STATE,
			ISNULL(SHIPPER_ADDR,'') AS SHIPPER_ADDR,
			ISNULL(SHIPPER_ADDR_DETAIL,'') AS SHIPPER_ADDR_DETAIL,
			ISNULL(CNEE_NAME,'') AS CNEE_NAME,
			ISNULL(CNEE_ADDR,'') AS CNEE_ADDR,
			ISNULL(CNEE_ZIP,'') AS CNEE_ZIP,
			ISNULL(CNEE_TEL,'') AS CNEE_TEL,
			ISNULL(CNEE_HP,'') AS CNEE_HP,
			ISNULL(CNEE_CNTRY,'') AS CNEE_CNTRY,
			ISNULL(CNEE_CITY,'') AS CNEE_CITY,
			ISNULL(CNEE_STATE,'') AS CNEE_STATE,
			ISNULL(CNEE_ADDR_DETAIL,'') AS CNEE_ADDR_DETAIL,
			ISNULL(USER_LENGTH,0) AS USER_LENGTH,
			ISNULL(USER_WIDTH,0) AS USER_WIDTH,
			ISNULL(USER_HEIGHT,0) AS USER_HEIGHT,
			ISNULL(USER_EMAIL,'') AS USER_EMAIL,
			ISNULL(W_USER_ID,'') AS W_USER_ID,
			ISNULL(W_USER_IP,'') AS W_USER_IP,
			ISNULL(W_DATE,'') AS W_DATE,
			ISNULL(TRANS_CODE,'') AS TRANS_CODE,
			ISNULL(ORDER_DATE,'') AS ORDER_DATE,
			ISNULL(STATUS,'') AS STATUS,
			ISNULL(CNEE_EMAIL,'') AS CNEE_EMAIL,
			ISNULL(CUSTOMS_NO,'') AS CUSTOMS_NO,
			ISNULL(NATIVE_CNEE_NAME,'') AS NATIVE_CNEE_NAME,
			ISNULL(NATIVE_CNEE_ADDR,'') AS NATIVE_CNEE_ADDR,
			ISNULL(NATIVE_CNEE_ADDR_DETAIL,'') AS NATIVE_CNEE_ADDR_DETAIL,
			ISNULL(DIM_UNIT,'CM') AS DIM_UNIT,
			ISNULL(WT_UNIT,'KG') AS WT_UNIT,
			ISNULL(BUY_SITE,'') AS BUY_SITE,
			ISNULL(GET_BUY,'') AS GET_BUY,
			ISNULL(MALL_TYPE,'') AS MALL_TYPE,
			ISNULL(WH_REQ_MSG,'') AS WH_REQ_MSG,
			ISNULL(DLV_REQ_MSG,'') AS DLV_REQ_MSG,
			ISNULL(CNEE_DISTRICT,'') AS CNEE_DISTRICT,
			ISNULL(SHIPPER_REFERENCE,'') AS SHIPPER_REFERENCE,
			ISNULL(CNEE_REFERENCE1,'') AS CNEE_REFERENCE1,
			ISNULL(CNEE_REFERENCE2,'') AS CNEE_REFERENCE2,
			ISNULL(PAYMENT,'DDU') AS PAYMENT,
			ISNULL(FOOD,'N') AS FOOD,
			ISNULL(DECL_TYPE,4) AS DECL_TYPE,
			ISNULL(UPLOAD_TYPE,'') AS UPLOAD_TYPE,
			ISNULL(CNEE_WARD,'') AS CNEE_WARD,
			ISNULL(COSMETIC,'N') AS COSMETIC,
			ISNULL(SIGN,'N') AS SIGN,
			ISNULL(SHIPPER_TAX_NO,'') AS SHIPPER_TAX_NO,
			ISNULL(SHIPPER_TAX_TYPE,'') AS SHIPPER_TAX_TYPE,
			ISNULL(CNEE_TAX_NO,'') AS CNEE_TAX_NO,
			ISNULL(CNEE_TAX_TYPE,'') AS CNEE_TAX_TYPE
		FROM TMP_ORDER_LIST
		WHERE USER_ID = #{userId} AND ORDER_TYPE = #{orderType}
	</select>
	
	<select id="execSpRegShipment" parameterType="com.example.temp.api.Order" resultType="com.example.temp.api.ProcedureRst">
		DECLARE
			@RST_STATUS NVARCHAR(50),
			@RST_CODE NVARCHAR(50),
			@RST_MSG NVARCHAR(100),
			@RST_NNO NVARCHAR(100),
			@RST_HAWB_NO NVARCHAR(100)
		
		EXEC SP_REG_SHIPMENT
			#{nno},
			#{wUserId},
			#{wUserIp},
			#{hawbNo},
			@RST_STATUS OUTPUT,
			@RST_CODE OUTPUT,
			@RST_MSG OUTPUT,
			@RST_NNO OUTPUT,
			@RST_HAWB_NO OUTPUT
		
		SELECT 
			@RST_STATUS AS RST_STATUS, 
			@RST_CODE AS RST_CODE, 
			@RST_MSG AS RST_MSG,
			@RST_NNO AS RST_NNO, 
			@RST_HAWB_NO AS RST_HAWB_NO 
	</select>
	
	<insert id="insertCJSuccess" parameterType="com.example.temp.api.logistics.dto.CJParameter">
		INSERT INTO TB_CJ_SUCC (NNO, HAWB_NO, USER_ID, CUST_ID, W_DATE) VALUES
		(#{nno}, #{hawbNo}, #{userId}, #{custId}, GETDATE())
	</insert>
	
	<insert id="insertCjFail" parameterType="com.example.temp.api.logistics.dto.CJParameter">
		INSERT INTO TB_CJ_FAIL (NNO, HAWB_NO, USER_ID, MSG, W_DATE) VALUES
		(#{nno}, #{hawbNo}, #{userId}, #{resultMsg}, GETDATE())
	</insert>
	
	<select id="selectCJRegBookOrderList" resultType="com.example.temp.api.Order">
		SELECT
			F1.NNO,
			F1.HAWB_NO,
			ISNULL(F1.ORDER_TYPE,'') AS ORDER_TYPE,
			ISNULL(F1.USER_ID,'') AS USER_ID,
			ISNULL(F2.BOX_CNT,1) AS BOX_CNT,
			ISNULL(F4.COM_NAME,'') AS SHIPPER_NAME,
			ISNULL(F4.USER_ADDR,'') AS SHIPPER_ADDR,
			ISNULL(F4.USER_ADDR_DETAIL,'') AS SHIPPER_ADDR_DETAIL,
			ISNULL(F4.USER_TEL,'') AS SHIPPER_TEL,
			ISNULL(F4.USER_HP,'') AS SHIPPER_HP,
			ISNULL(F4.USER_ZIP,'') AS SHIPPER_ZIP,
			ISNULL(CNEE_NAME,'') AS CNEE_NAME,
			ISNULL(CNEE_ADDR,'') AS CNEE_ADDR,
			ISNULL(CNEE_ADDR_DETAIL,'') AS CNEE_ADDR_DETAIL,
			ISNULL(CNEE_TEL,'') AS CNEE_TEL,
			ISNULL(CNEE_HP,'') AS CNEE_HP,
			ISNULL(CNEE_ZIP,'') AS CNEE_ZIP,
			ISNULL(DLV_REQ_MSG,'') AS DLV_REQ_MSG,
			STUFF((SELECT CONCAT('|^|', SUB_NO, '|', ITEM_DETAIL, '|', ITEM_CNT) FROM TB_ORDER_ITEM WHERE NNO = F1.NNO AND USER_ID = F1.USER_ID AND ORG_STATION = F1.ORG_STATION FOR XML PATH('')), 1, 1, '|') ITEM_INFO
		FROM TB_ORDER_LIST F1, TB_HAWB F2 LEFT JOIN TB_CJ_SUCC F3 ON F2.NNO = F3.NNO,
			TB_CUSTOMER F4
		WHERE 
			CONVERT(NVARCHAR,F2.W_DATE,112) <![CDATA[>]]> '20240701'
			AND F1.NNO = F2.NNO 
			AND F1.HAWB_NO = F2.HAWB_NO 
			AND F1.USER_ID = F2.USER_ID 
			AND F1.ORG_STATION = F2.ORG_STATION
			AND F1.TRANS_CODE = 'CJ'
			AND ISNULL(F2.MAWB_NO,'') != ''
			AND F3.NNO IS NULL
			AND F1.USER_ID = F4.USER_ID
		ORDER BY F1.NNO
	</select>
	
	
	<select id="selectCJRegBookReturnOrderList" resultType="com.example.temp.api.Order">
		SELECT
			F1.NNO,
			F1.KOBL_NO,
			F1.USER_ID,
			ISNULL(F1.ORDER_TYPE,'') AS ORDER_TYPE,
			ISNULL(F1.SHIPPER_NAME,'') AS SHIPPER_NAME,
			ISNULL(F1.SHIPPER_ADDR,'') AS SHIPPER_ADDR,
			ISNULL(F1.SHIPPER_ADDR_DETAIL,'') AS SHIPPER_ADDR_DETAIL,
			ISNULL(F1.SHIPPER_TEL,'') AS SHIPPER_TEL,
			ISNULL(F1.SHIPPER_HP,'') AS SHIPPER_HP,
			ISNULL(F1.SHIPPER_ZIP,'') AS SHIPPER_ZIP,
			STUFF((SELECT CONCAT('|^|', SUB_NO, '|', ITEM_DETAIL, '|', ITEM_CNT) FROM TB_RETURN_ITEM_LIST WHERE NNO = F1.NNO AND USER_ID = F1.USER_ID AND ORG_STATION = F1.ORG_STATION FOR XML PATH('')), 1, 1, '|') ITEM_INFO
		FROM TB_RETURN_ORDER_LIST F1 
		JOIN TB_ORDER_LIST F2 ON F2.HAWB_NO = F1.KOBL_NO AND F2.ORG_STATION = F1.ORG_STATION AND F2.USER_ID = F1.USER_ID
		LEFT JOIN TB_CJ_SUCC F3 ON F3.NNO = F1.NNO
		WHERE F1.STATE = 'A001'
			AND F2.TRANS_CODE = 'CJ'
			AND F3.NNO IS NULL
		ORDER BY F1.NNO
	</select>
	
	
	<select id="selectTrackingDateTime" parameterType="hashMap" resultType="hashMap">
		SELECT registDate, whInDate, whoutDate, orderNo, cneeName, trkNo, transCode, matchNo
		FROM (
			SELECT
				RANK() OVER(ORDER BY F3.W_DATE DESC) RN,
				CONCAT(SUBSTRING(F1.NNO,1,4), '-', SUBSTRING(F1.NNO,5,2), '-', SUBSTRING(F1.NNO,7,2), ' ',
					SUBSTRING(F1.NNO,9,2), ':', SUBSTRING(F1.NNO,11,2), ':', SUBSTRING(F1.NNO,13,2)) AS registDate,
				CASE WHEN ISNULL(F2.HAWB_NO,'') = '' THEN 'N' ELSE CONVERT(NVARCHAR,F2.W_DATE,120) END as whInDate,
				CASE WHEN ISNULL(F3.IDX,0) = 0 THEN 'N' ELSE CONVERT(NVARCHAR,F3.W_DATE,120) END as whoutDate,
				ISNULL(F1.ORDER_NO,'') as orderNo,
				ISNULL(F1.CNEE_NAME,'') as cneeName,
				ISNULL((SELECT TRK_NO FROM TB_DELIVERY_INFO WHERE NNO = F1.NNO AND HAWB_NO = F1.HAWB_NO),'') AS trkNo,
				ISNULL(F1.TRANS_CODE,'') as transCode,
				ISNULL((SELECT VALUE_MATCH_NO FROM TB_MATCHING_INFO WHERE NNO = F1.NNO AND KEY_HAWB_NO = F1.HAWB_NO),'') AS matchNo
			FROM TB_ORDER_LIST F1
			LEFT OUTER JOIN TB_HAWB F2 ON F2.HAWB_NO = F1.HAWB_NO AND F2.NNO = F1.NNO
			LEFT OUTER JOIN HIS_MAWB_APPLY F3 ON F3.HAWB_NO = F2.HAWB_NO AND F3.ACT_WORK = 'INSERT'
			WHERE F1.HAWB_NO = #{hawbNo}
			<if test="userRole != null and userRole != '' and userRole != 'ADMIN'">
				AND F1.USER_ID = #{userId}
			</if>
		) M1
		WHERE RN = 1
	</select>
	
	<select id="selectCJLabelData" parameterType="hashMap" resultType="com.example.temp.api.Order">
		SELECT
			NNO,
			ISNULL(ORG_STATION,'') AS ORG_STATION,
			ISNULL(DSTN_NATION,'') AS DSTN_NATION,
			ISNULL(F1.USER_ID,'' ) AS USER_ID,
			ISNULL(ORDER_NO,'') AS ORDER_NO,
			ISNULL(HAWB_NO,'') AS HAWB_NO,
			ISNULL(BOX_CNT,1) AS BOX_CNT,
			ISNULL(F2.COM_NAME,'') AS SHIPPER_NAME,
			ISNULL(F2.USER_ADDR,'') AS SHIPPER_ADDR,
			ISNULL(F2.USER_ADDR_DETAIL,'') AS SHIPPER_ADDR_DETAIL,
			ISNULL(F2.USER_TEL,'') AS SHIPPER_TEL,
			ISNULL(F2.USER_HP,'') AS SHIPPER_HP,
			ISNULL(F2.USER_ZIP,'') AS SHIPPER_ZIP,
			ISNULL(CNEE_NAME,'') AS CNEE_NAME,
			ISNULL(CNEE_ADDR,'') AS CNEE_ADDR,
			ISNULL(CNEE_ADDR_DETAIL,'') AS CNEE_ADDR_DETAIL,
			ISNULL(CNEE_ZIP,'') AS CNEE_ZIP,
			ISNULL(CNEE_TEL,'') AS CNEE_TEL,
			ISNULL(CNEE_HP,'') AS CNEE_HP,
			ISNULL(TRANS_CODE,'') AS TRANS_CODE,
			ISNULL(DLV_REQ_MSG,'') AS DLV_REQ_MSG,
			STUFF((SELECT '|' + ITEM_DETAIL FROM TB_ORDER_ITEM WHERE NNO = F1.NNO ORDER BY SUB_NO FOR XML PATH('')), 1, 1, '') ITEM_DETAIL,
			STUFF((SELECT '|' + CONVERT(NVARCHAR,ITEM_CNT) FROM TB_ORDER_ITEM WHERE NNO = F1.NNO ORDER BY SUB_NO FOR XML PATH('')), 1, 1, '') ITEM_CNT
		FROM TB_ORDER_LIST F1 JOIN TB_CUSTOMER F2 ON F1.USER_ID = F2.USER_ID
		WHERE NNO = #{nno} AND TRANS_CODE = 'CJ'
	</select>

	<select id="selectViewFastboxWeight" resultType="com.example.temp.api.CommonVariables">
		SELECT NNO, ISNULL(HAWB_NO,'') AS HAWB_NO, ISNULL(USER_ID,'') AS USER_ID, ISNULL(TRANS_CODE,'') AS TRANS_CODE
		FROM VI_FB_WT ORDER BY W_DATE
	</select>
	
	<update id="updateTmpOrderStatus" parameterType="com.example.temp.api.Order">
		UPDATE TMP_ORDER_LIST SET STATUS = #{status} WHERE NNO = #{nno} AND USER_ID = #{userId} AND ORG_STATION = #{orgStation}
	</update>
	
	<select id="selectTbOrder" parameterType="hashMap" resultType="com.example.temp.api.Order">
		SELECT
			NNO,
			ISNULL(ORG_STATION,'') AS ORG_STATION,
			ISNULL(DSTN_NATION,'') AS DSTN_NATION,
			ISNULL(DSTN_STATION,'') AS DSTN_STATION,
			ISNULL(USER_ID,'') AS USER_ID,
			ISNULL(ORDER_TYPE,'') AS ORDER_TYPE,
			ISNULL(ORDER_NO,'') AS ORDER_NO,
			ISNULL(HAWB_NO,'') AS HAWB_NO,
			ISNULL(BOX_CNT,1) AS BOX_CNT,
			ISNULL(USER_WTA,0) AS USER_WTA,
			ISNULL(USER_WTC,0) AS USER_WTC,
			ISNULL(SHIPPER_NAME,'') AS SHIPPER_NAME,
			ISNULL(SHIPPER_ZIP,'') AS SHIPPER_ZIP,
			ISNULL(SHIPPER_TEL,'') AS SHIPPER_TEL,
			ISNULL(SHIPPER_HP,'') AS SHIPPER_HP,
			ISNULL(SHIPPER_CNTRY,'') AS SHIPPER_CNTRY,
			ISNULL(SHIPPER_CITY,'') AS SHIPPER_CITY,
			ISNULL(SHIPPER_STATE,'') AS SHIPPER_STATE,
			ISNULL(SHIPPER_ADDR,'') AS SHIPPER_ADDR,
			ISNULL(SHIPPER_ADDR_DETAIL,'') AS SHIPPER_ADDR_DETAIL,
			ISNULL(CNEE_NAME,'') AS CNEE_NAME,
			ISNULL(CNEE_ADDR,'') AS CNEE_ADDR,
			ISNULL(CNEE_ZIP,'') AS CNEE_ZIP,
			ISNULL(CNEE_TEL,'') AS CNEE_TEL,
			ISNULL(CNEE_HP,'') AS CNEE_HP,
			ISNULL(CNEE_CNTRY,'') AS CNEE_CNTRY,
			ISNULL(CNEE_CITY,'') AS CNEE_CITY,
			ISNULL(CNEE_STATE,'') AS CNEE_STATE,
			ISNULL(CNEE_ADDR_DETAIL,'') AS CNEE_ADDR_DETAIL,
			ISNULL(USER_LENGTH,0) AS USER_LENGTH,
			ISNULL(USER_WIDTH,0) AS USER_WIDTH,
			ISNULL(USER_HEIGHT,0) AS USER_HEIGHT,
			ISNULL(USER_EMAIL,'') AS USER_EMAIL,
			ISNULL(W_USER_ID,'') AS W_USER_ID,
			ISNULL(W_USER_IP,'') AS W_USER_IP,
			ISNULL(W_DATE,'') AS W_DATE,
			ISNULL(TRANS_CODE,'') AS TRANS_CODE,
			ISNULL(ORDER_DATE,'') AS ORDER_DATE,
			ISNULL(CNEE_EMAIL,'') AS CNEE_EMAIL,
			ISNULL(CUSTOMS_NO,'') AS CUSTOMS_NO,
			ISNULL(NATIVE_CNEE_NAME,'') AS NATIVE_CNEE_NAME,
			ISNULL(NATIVE_CNEE_ADDR,'') AS NATIVE_CNEE_ADDR,
			ISNULL(NATIVE_CNEE_ADDR_DETAIL,'') AS NATIVE_CNEE_ADDR_DETAIL,
			ISNULL(DIM_UNIT,'CM') AS DIM_UNIT,
			ISNULL(WT_UNIT,'KG') AS WT_UNIT,
			ISNULL(BUY_SITE,'') AS BUY_SITE,
			ISNULL(GET_BUY,'') AS GET_BUY,
			ISNULL(MALL_TYPE,'') AS MALL_TYPE,
			ISNULL(WH_REQ_MSG,'') AS WH_REQ_MSG,
			ISNULL(DLV_REQ_MSG,'') AS DLV_REQ_MSG,
			ISNULL(CNEE_DISTRICT,'') AS CNEE_DISTRICT,
			ISNULL(SHIPPER_REFERENCE,'') AS SHIPPER_REFERENCE,
			ISNULL(CNEE_REFERENCE1,'') AS CNEE_REFERENCE1,
			ISNULL(CNEE_REFERENCE2,'') AS CNEE_REFERENCE2,
			ISNULL(PAYMENT,'DDU') AS PAYMENT,
			ISNULL(FOOD,'N') AS FOOD,
			ISNULL(DECL_TYPE,4) AS DECL_TYPE,
			ISNULL(UPLOAD_TYPE,'') AS UPLOAD_TYPE,
			ISNULL(CNEE_WARD,'') AS CNEE_WARD,
			ISNULL(COSMETIC,'N') AS COSMETIC,
			ISNULL(SIGN,'N') AS SIGN,
			ISNULL(SHIPPER_TAX_NO,'') AS SHIPPER_TAX_NO,
			ISNULL(SHIPPER_TAX_TYPE,'') AS SHIPPER_TAX_TYPE,
			ISNULL(CNEE_TAX_NO,'') AS CNEE_TAX_NO,
			ISNULL(CNEE_TAX_TYPE,'') AS CNEE_TAX_TYPE,
			ISNULL((SELECT ITEM_DETAIL FROM TMP_ORDER_ITEM WHERE NNO = F1.NNO AND SUB_NO = 1 AND USER_ID = F1.USER_ID AND ORG_STATION = F1.ORG_STATION),'') AS ITEM_DETAIL,
			ROUND((SELECT SUM(UNIT_VALUE*ITEM_CNT) FROM TMP_ORDER_ITEM WHERE NNO = F1.NNO AND USER_ID = F1.USER_ID AND ORG_STATION = F1.ORG_STATION),2) AS UNIT_VALUE,
			(SELECT SUM(ITEM_CNT) FROM TMP_ORDER_ITEM WHERE NNO = F1.NNO AND USER_ID = F1.USER_ID AND ORG_STATION = F1.ORG_STATION) AS ITEM_CNT
		FROM TB_ORDER_LIST F1
		WHERE NNO = #{nno} AND USER_ID = #{userId} AND ORDER_TYPE = #{orderType}
	</select>

	<select id="selectTbOrderItems" parameterType="hashMap" resultType="com.example.temp.api.Item">
		SELECT
			NNO,
			ISNULL(SUB_NO,1) AS SUB_NO,
			ISNULL(ORG_STATION,'') AS ORG_STATION,
			ISNULL(USER_ID,'') AS USER_ID,
			ISNULL(HS_CODE,'') AS HS_CODE,
			ISNULL(ITEM_DETAIL,'') AS ITEM_DETAIL,
			ISNULL(UNIT_CURRENCY,'') AS UNIT_CURRENCY,
			ISNULL(ITEM_CNT,1) AS ITEM_CNT,
			ISNULL(UNIT_VALUE,0) AS UNIT_VALUE,
			ISNULL(BRAND,'') AS BRAND,
			ISNULL(MAKE_CNTRY,'') AS MAKE_CNTRY,
			ISNULL(MAKE_COM,'') AS MAKE_COM,
			ISNULL(ITEM_DIV,'') AS ITEM_DIV,
			ISNULL(WT_UNIT,'') AS WT_UNIT,
			ISNULL(QTY_UNIT,'') AS QTY_UNIT,
			ISNULL(PACKAGE_UNIT,'') AS PACKAGE_UNIT,
			ISNULL(EXCHANGE_RATE,0) AS EXCHANGE_RATE,
			ISNULL(CHG_CURRENCY,'') AS CHG_CURRENCY,
			ISNULL(CHG_AMT,0) AS CHG_AMT,
			ISNULL(ITEM_METERIAL,'') AS ITEM_METERIAL,
			ISNULL(TAKE_IN_CODE,'') AS TAKE_IN_CODE,
			ISNULL(USER_WTA,0) AS USER_WTA,
			ISNULL(USER_WTC,0) AS USER_WTC,
			ISNULL(ITEM_URL,'') AS ITEM_URL,
			ISNULL(ITEM_IMG_URL,'') AS ITEM_IMG_URL,
			ISNULL(TRK_COM,'') AS TRK_COM,
			ISNULL(TRK_NO,'') AS TRK_NO,
			ISNULL(TRK_DATE,'') AS TRK_DATE,
			ISNULL(NATIVE_ITEM_DETAIL,'') AS NATIVE_ITEM_DETAIL,
			ISNULL(CUS_ITEM_CODE,'') AS CUS_ITEM_CODE,
			ISNULL(W_USER_ID,'') AS W_USER_ID,
			ISNULL(W_USER_IP,'') AS W_USER_IP,
			ISNULL(W_DATE,'') AS W_DATE,
			ISNULL(ITEM_COLOR,'') AS ITEM_COLOR,
			ISNULL(ITEM_SIZE,'') AS ITEM_SIZE
		FROM TB_ORDER_ITEM
		WHERE NNO = #{nno} AND USER_ID = #{userId}
	</select>	
</mapper>