<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.temp.trans.yunexpress.YunExpressMapper">

	<select id="selectTmpOrderInfo" parameterType="hashMap" resultType="com.example.temp.member.vo.UserOrderListVO">
		SELECT 
			NNO,
			ISNULL(ORG_STATION,'') AS ORG_STATION,
			ISNULL(DSTN_NATION,'') AS DSTN_NATION,
			ISNULL(DSTN_STATION,'') AS DSTN_STATION,
			ISNULL(USER_ID,'') AS USER_ID,
			ISNULL(ORDER_TYPE,'') AS ORDER_TYPE,
			ISNULL(ORDER_NO,'') AS ORDER_NO,
			ISNULL(HAWB_NO,'') AS HAWB_NO,
			ISNULL(BOX_CNT,'') AS BOX_CNT,
			ISNULL(USER_WTA,'') AS USER_WTA,
			ISNULL(USER_WTC,'') AS USER_WTC,
			ISNULL(SHIPPER_NAME,'') AS SHIPPER_NAME,
			ISNULL(SHIPPER_ZIP,'') AS SHIPPER_ZIP,
			ISNULL(SHIPPER_TEL,'') AS SHIPPER_TEL,
			ISNULL(SHIPPER_HP,'') AS SHIPPER_HP,
			ISNULL(SHIPPER_CNTRY,'') AS SHIPPER_CNTRY,
			ISNULL(SHIPPER_CITY,'') AS SHIPPER_CITY,
			ISNULL(SHIPPER_STATE,'') AS SHIPPER_STATE,
			ISNULL(SHIPPER_ADDR,'') AS SHIPPER_ADDR,
			ISNULL(SHIPPER_ADDR_DETAIL,'') AS SHIPPER_ADDR_DETAIL,
			ISNULL(CNEE_NAME,'') AS CNEE_NAME,
			ISNULL(CNEE_ADDR,'') AS CNEE_ADDR,
			ISNULL(CNEE_ZIP,'') AS CNEE_ZIP,
			ISNULL(CNEE_TEL,'') AS CNEE_TEL,
			ISNULL(CNEE_HP,'') AS CNEE_HP,
			ISNULL(CNEE_CNTRY,'') AS CNEE_CNTRY,
			ISNULL(CNEE_CITY,'') AS CNEE_CITY,
			ISNULL(CNEE_STATE,'') AS CNEE_STATE,
			ISNULL(CNEE_ADDR_DETAIL,'') AS CNEE_ADDR_DETAIL,
			ISNULL(USER_LENGTH,'') AS USER_LENGTH,
			ISNULL(USER_WIDTH,'') AS USER_WIDTH,
			ISNULL(USER_HEIGHT,'') AS USER_HEIGHT,
			ISNULL(USER_EMAIL,'') AS USER_EMAIL,
			ISNULL(W_USER_ID,'') AS W_USER_ID,
			ISNULL(W_USER_IP,'') AS W_USER_IP,
			ISNULL(W_DATE,'') AS W_DATE,
			ISNULL(TRANS_CODE,'') AS TRANS_CODE,
			ISNULL(ORDER_DATE,'') AS ORDER_DATE,
			ISNULL(STATUS,'') AS STATUS,
			ISNULL(CNEE_EMAIL,'') AS CNEE_EMAIL,
			ISNULL(CUSTOMS_NO,'') AS CUSTOMS_NO,
			ISNULL(NATIVE_CNEE_NAME,'') AS NATIVE_CNEE_NAME,
			ISNULL(NATIVE_CNEE_ADDR,'') AS NATIVE_CNEE_ADDR,
			ISNULL(NATIVE_CNEE_ADDR_DETAIL,'') AS NATIVE_CNEE_ADDR_DETAIL,
			ISNULL(DIM_UNIT,'') AS DIM_UNIT,
			ISNULL(WT_UNIT,'') AS WT_UNIT,
			ISNULL(BUY_SITE,'') AS BUY_SITE,
			ISNULL(GET_BUY,'') AS GET_BUY,
			ISNULL(MALL_TYPE,'') AS MALL_TYPE,
			ISNULL(WH_REQ_MSG,'') AS WH_REQ_MSG,
			ISNULL(DLV_REQ_MSG,'') AS DLV_REQ_MSG,
			ISNULL(CNEE_DISTRICT,'') AS CNEE_DISTRICT,
			ISNULL(SHIPPER_REFERENCE,'') AS SHIPPER_REFERENCE,
			ISNULL(CNEE_REFERENCE1,'') AS CNEE_REFERENCE1,
			ISNULL(CNEE_REFERENCE2,'') AS CNEE_REFERENCE2,
			ISNULL(PAYMENT,'') AS PAYMENT,
			ISNULL(FOOD,'') AS FOOD,
			ISNULL(TAX_ID,'') AS TAX_ID,
			ISNULL(EORI_NO,'') AS EORI_NO,
			ISNULL(DECL_TYPE,'4') AS DECL_TYPE,
			ISNULL((SELECT IOSS_NO FROM TB_IOSS_INFO WHERE NNO = F1.NNO AND USER_ID = F1.USER_ID),'') AS IOSS_NO
		FROM TMP_ORDER_LIST F1
		WHERE NNO = #{nno}
	</select>
	
	<select id="selectTmpItemInfo" parameterType="hashMap" resultType="com.example.temp.member.vo.UserOrderItemVO">
		SELECT 
			NNO,
			SUB_NO,
			ISNULL(ORG_STATION,'') AS ORG_STATION,
			ISNULL(USER_ID,'') AS USER_ID,
			ISNULL(HS_CODE,'') AS HS_CODE,
			ISNULL(ITEM_DETAIL,'') AS ITEM_DETAIL,
			ISNULL(UNIT_CURRENCY,'') AS UNIT_CURRENCY,
			ISNULL(ITEM_CNT,'1') AS ITEM_CNT,
			ISNULL(UNIT_VALUE,'0') AS UNIT_VALUE,
			ISNULL(BRAND,'') AS BRAND,
			CASE
				WHEN ISNULL(REPLACE(F1.MAKE_CNTRY,' ',''),'') = '' THEN ''
				ELSE ISNULL((SELECT NATION_CODE FROM TB_NATION_CODE WHERE NATION_E_NAME = REPLACE(F1.MAKE_CNTRY,' ','')),REPLACE(F1.MAKE_CNTRY,' ',''))
			END MAKE_CNTRY,
			ISNULL(MAKE_COM,'') AS MAKE_COM,
			ISNULL(ITEM_DIV,'') AS ITEM_DIV,
			ISNULL(WT_UNIT,'') AS WT_UNIT,
			ISNULL(QTY_UNIT,'') AS QTY_UNIT,
			ISNULL(PACKAGE_UNIT,'') AS PACKAGE_UNIT,
			ISNULL(EXCHANGE_RATE,'') AS EXCHANGE_RATE,
			ISNULL(CHG_CURRENCY,UNIT_CURRENCY) AS CHG_CURRENCY,
			ISNULL(CHG_AMT,0) AS CHG_AMT,
			ISNULL(ITEM_METERIAL,'') AS ITEM_METERIAL,
			ISNULL(TAKE_IN_CODE,'') AS TAKE_IN_CODE,
			DBO.FN_WEIGHT_CHG(ISNULL(WT_UNIT,'KG'),'KG',ISNULL(USER_WTA,0)) AS USER_WTA,
			ISNULL(USER_WTC,'') AS USER_WTC,
			ISNULL(ITEM_URL,'') AS ITEM_URL,
			ISNULL(ITEM_IMG_URL,'') AS ITEM_IMG_URL,
			ISNULL(STATUS,'') AS STATUS,
			ISNULL(TRK_COM,'') AS TRK_COM,
			ISNULL(TRK_NO,'') AS TRK_NO,
			ISNULL(TRK_DATE,'') AS TRK_DATE,
			ISNULL(NATIVE_ITEM_DETAIL,'') AS NATIVE_ITEM_DETAIL,
			ISNULL(CUS_ITEM_CODE,'') AS CUS_ITEM_CODE,
			ISNULL(W_USER_ID,'') AS W_USER_ID,
			ISNULL(W_USER_IP,'') AS W_USER_IP,
			ISNULL(W_DATE,'') AS W_DATE,
			ISNULL(NATION_CODE,'') AS NATION_CODE,
			ISNULL(DIM_UNIT,'') AS DIM_UNIT,
			ISNULL(ITEM_COLOR,'') AS ITEM_COLOR,
			ISNULL(ITEM_SIZE,'') AS ITEM_SIZE
		FROM TMP_ORDER_ITEM F1
		WHERE NNO = #{nno}
	</select>
	
	<insert id="insertErrorMatch" parameterType="hashMap">
		INSERT INTO TB_ERROR_MATCH (
			[NNO],
			[ERROR_MSG],
			[USE_YN],
			[W_USER_ID],
			[W_USER_IP],
			[W_DATE]
		) VALUES (
			#{nno},
			#{errorMsg},
			#{useYn},
			#{userId},
			#{userIp},
			(SELECT LEFT((Select Convert(varchar(10),Getdate(),112) + Replace(Convert(varchar(8),Getdate(),108),':','')),12))
		);
	</insert>
</mapper>