<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.temp.api.shipment.ShippingMapper">

	<select id="selectTmpOrderListAll" parameterType="hashMap" resultType="hashMap">
		SELECT
			NNO AS nno,
			ISNULL(TRANS_CODE,'') AS transCode,
			ISNULL(UPLOAD_TYPE,'') AS uploadType
		FROM TMP_ORDER_LIST WHERE USER_ID = #{userId} AND ORDER_TYPE = #{orderType}
	</select>

	<select id="selectTmpOrderListInfo" parameterType="hashMap" resultType="com.example.temp.member.vo.UserOrderListVO">
		SELECT 
			NNO,
			ISNULL(ORG_STATION,'') AS ORG_STATION,
			ISNULL(DSTN_NATION,'') AS DSTN_NATION,
			ISNULL(DSTN_STATION,'') AS DSTN_STATION,
			ISNULL(USER_ID,'') AS USER_ID,
			ISNULL(ORDER_TYPE,'') AS ORDER_TYPE,
			ISNULL(ORDER_NO,'') AS ORDER_NO,
			ISNULL(HAWB_NO,'') AS HAWB_NO,
			ISNULL(BOX_CNT,'') AS BOX_CNT,
			ISNULL(USER_WTA,'') AS USER_WTA,
			ISNULL(USER_WTC,'') AS USER_WTC,
			ISNULL(SHIPPER_NAME,'') AS SHIPPER_NAME,
			ISNULL(SHIPPER_ZIP,'') AS SHIPPER_ZIP,
			ISNULL(SHIPPER_TEL,'') AS SHIPPER_TEL,
			ISNULL(SHIPPER_HP,'') AS SHIPPER_HP,
			ISNULL(SHIPPER_CNTRY,'') AS SHIPPER_CNTRY,
			ISNULL(SHIPPER_CITY,'') AS SHIPPER_CITY,
			ISNULL(SHIPPER_STATE,'') AS SHIPPER_STATE,
			ISNULL(SHIPPER_ADDR,'') AS SHIPPER_ADDR,
			ISNULL(SHIPPER_ADDR_DETAIL,'') AS SHIPPER_ADDR_DETAIL,
			ISNULL(CNEE_NAME,'') AS CNEE_NAME,
			ISNULL(CNEE_ADDR,'') AS CNEE_ADDR,
			ISNULL(CNEE_ZIP,'') AS CNEE_ZIP,
			ISNULL(CNEE_TEL,'') AS CNEE_TEL,
			ISNULL(CNEE_HP,'') AS CNEE_HP,
			ISNULL(CNEE_CNTRY,'') AS CNEE_CNTRY,
			ISNULL(CNEE_CITY,'') AS CNEE_CITY,
			ISNULL(CNEE_STATE,'') AS CNEE_STATE,
			ISNULL(CNEE_ADDR_DETAIL,'') AS CNEE_ADDR_DETAIL,
			ISNULL(USER_LENGTH,'') AS USER_LENGTH,
			ISNULL(USER_WIDTH,'') AS USER_WIDTH,
			ISNULL(USER_HEIGHT,'') AS USER_HEIGHT,
			ISNULL(USER_EMAIL,'') AS USER_EMAIL,
			ISNULL(W_USER_ID,'') AS W_USER_ID,
			ISNULL(W_USER_IP,'') AS W_USER_IP,
			ISNULL(W_DATE,'') AS W_DATE,
			ISNULL(TRANS_CODE,'') AS TRANS_CODE,
			ISNULL(ORDER_DATE,'') AS ORDER_DATE,
			ISNULL(STATUS,'') AS STATUS,
			ISNULL(CNEE_EMAIL,'') AS CNEE_EMAIL,
			ISNULL(CUSTOMS_NO,'') AS CUSTOMS_NO,
			ISNULL(NATIVE_CNEE_NAME,'') AS NATIVE_CNEE_NAME,
			ISNULL(NATIVE_CNEE_ADDR,'') AS NATIVE_CNEE_ADDR,
			ISNULL(NATIVE_CNEE_ADDR_DETAIL,'') AS NATIVE_CNEE_ADDR_DETAIL,
			ISNULL(DIM_UNIT,'CM') AS DIM_UNIT,
			ISNULL(WT_UNIT,'KG') AS WT_UNIT,
			ISNULL(BUY_SITE,'') AS BUY_SITE,
			ISNULL(GET_BUY,'') AS GET_BUY,
			ISNULL(MALL_TYPE,'') AS MALL_TYPE,
			ISNULL(WH_REQ_MSG,'') AS WH_REQ_MSG,
			ISNULL(DLV_REQ_MSG,'') AS DLV_REQ_MSG,
			ISNULL(CNEE_DISTRICT,'') AS CNEE_DISTRICT,
			ISNULL(SHIPPER_REFERENCE,'') AS SHIPPER_REFERENCE,
			ISNULL(CNEE_REFERENCE1,'') AS CNEE_REFERENCE1,
			ISNULL(CNEE_REFERENCE2,'') AS CNEE_REFERENCE2,
			ISNULL(PAYMENT,'DDU') AS PAYMENT,
			ISNULL(FOOD,'') AS FOOD,
			ISNULL(DECL_TYPE,'4') AS DECL_TYPE,
			ISNULL(UPLOAD_TYPE,'') AS UPLOAD_TYPE,
			(SELECT COUNT(*) FROM TB_EXPLICENCE WHERE NNO = F1.NNO AND ORDER_NO = F1.ORDER_NO) AS EXP_YN,
			ISNULL(COSMETIC,'N') AS COSMETIC,
			ISNULL(SIGN,'N') AS SIGN,
			ISNULL(SHIPPER_TAX_TYPE,'0') AS SHIPPER_TAX_TYPE,
			ISNULL(SHIPPER_TAX_NO,'') AS SHIPPER_TAX_NO,
			ISNULL(CNEE_TAX_TYPE,'0') AS CNEE_TAX_TYPE,
			ISNULL(CNEE_TAX_NO,'') AS CNEE_TAX_NO
		FROM TMP_ORDER_LIST F1
		WHERE NNO = #{nno}
	</select>
	
	<select id="selectTmpOrderItemInfo" parameterType="hashMap" resultType="com.example.temp.member.vo.UserOrderItemVO">
		SELECT 
			NNO,
			SUB_NO,
			ISNULL(ORG_STATION,'') AS ORG_STATION,
			ISNULL(USER_ID,'') AS USER_ID,
			ISNULL(HS_CODE,'') AS HS_CODE,
			ISNULL(ITEM_DETAIL,'') AS ITEM_DETAIL,
			ISNULL(UNIT_CURRENCY,'') AS UNIT_CURRENCY,
			ISNULL(ITEM_CNT,'1') AS ITEM_CNT,
			ISNULL(UNIT_VALUE,'0') AS UNIT_VALUE,
			ISNULL(BRAND,'') AS BRAND,
			CASE
				WHEN ISNULL(REPLACE(F1.MAKE_CNTRY,' ',''),'') = '' THEN ''
				ELSE ISNULL((SELECT NATION_CODE FROM TB_NATION_CODE WHERE NATION_E_NAME = REPLACE(F1.MAKE_CNTRY,' ','')),REPLACE(F1.MAKE_CNTRY,' ',''))
			END MAKE_CNTRY,
			ISNULL(MAKE_COM,'') AS MAKE_COM,
			ISNULL(ITEM_DIV,'') AS ITEM_DIV,
			ISNULL(WT_UNIT,'KG') AS WT_UNIT,
			ISNULL(QTY_UNIT,'EA') AS QTY_UNIT,
			ISNULL(PACKAGE_UNIT,'') AS PACKAGE_UNIT,
			ISNULL(EXCHANGE_RATE,'') AS EXCHANGE_RATE,
			ISNULL(CHG_CURRENCY,UNIT_CURRENCY) AS CHG_CURRENCY,
			ISNULL(CHG_AMT,0) AS CHG_AMT,
			ISNULL(ITEM_METERIAL,'') AS ITEM_METERIAL,
			ISNULL(TAKE_IN_CODE,'') AS TAKE_IN_CODE,
			DBO.FN_WEIGHT_CHG(ISNULL(WT_UNIT,'KG'),'KG',ISNULL(USER_WTA,0.1)) AS USER_WTA,
			ISNULL(USER_WTC,'') AS USER_WTC,
			ISNULL(ITEM_URL,'') AS ITEM_URL,
			ISNULL(ITEM_IMG_URL,'') AS ITEM_IMG_URL,
			ISNULL(STATUS,'') AS STATUS,
			ISNULL(TRK_COM,'') AS TRK_COM,
			ISNULL(TRK_NO,'') AS TRK_NO,
			ISNULL(TRK_DATE,'') AS TRK_DATE,
			ISNULL(NATIVE_ITEM_DETAIL,'') AS NATIVE_ITEM_DETAIL,
			ISNULL(CUS_ITEM_CODE,'') AS CUS_ITEM_CODE,
			ISNULL(W_USER_ID,'') AS W_USER_ID,
			ISNULL(W_USER_IP,'') AS W_USER_IP,
			ISNULL(W_DATE,'') AS W_DATE,
			ISNULL(NATION_CODE,'') AS NATION_CODE,
			ISNULL(DIM_UNIT,'') AS DIM_UNIT,
			ISNULL(ITEM_COLOR,'') AS ITEM_COLOR,
			ISNULL(ITEM_SIZE,'') AS ITEM_SIZE,
			ISNULL((SELECT TOP 1 TAKE_IN_CODE FROM TB_YSL_ITEM_CODE WHERE USER_ID = F1.USER_ID AND CUS_ITEM_CODE = F1.CUS_ITEM_CODE),'') AS SAGAWA_ITEM_CODE
		FROM TMP_ORDER_ITEM F1
		WHERE NNO = #{nno}
	</select>
	
	<select id="selectTmpOrderItemInfoOne" parameterType="hashMap" resultType="com.example.temp.member.vo.UserOrderItemVO">
		SELECT 
			NNO,
			SUB_NO,
			ISNULL(ORG_STATION,'') AS ORG_STATION,
			ISNULL(USER_ID,'') AS USER_ID,
			ISNULL(HS_CODE,'') AS HS_CODE,
			ISNULL(ITEM_DETAIL,'') AS ITEM_DETAIL,
			ISNULL(UNIT_CURRENCY,'') AS UNIT_CURRENCY,
			ISNULL(ITEM_CNT,'1') AS ITEM_CNT,
			ISNULL(UNIT_VALUE,'0') AS UNIT_VALUE,
			ISNULL(BRAND,'') AS BRAND,
			ISNULL(MAKE_CNTRY,'') AS MAKE_CNTRY,
			ISNULL(MAKE_COM,'') AS MAKE_COM,
			ISNULL(ITEM_DIV,'') AS ITEM_DIV,
			ISNULL(WT_UNIT,'KG') AS WT_UNIT,
			ISNULL(QTY_UNIT,'EA') AS QTY_UNIT,
			ISNULL(PACKAGE_UNIT,'') AS PACKAGE_UNIT,
			ISNULL(EXCHANGE_RATE,'') AS EXCHANGE_RATE,
			ISNULL(CHG_CURRENCY,'') AS CHG_CURRENCY,
			ISNULL(CHG_AMT,0) AS CHG_AMT,
			ISNULL(ITEM_METERIAL,'') AS ITEM_METERIAL,
			ISNULL(TAKE_IN_CODE,'') AS TAKE_IN_CODE,
			DBO.FN_WEIGHT_CHG(ISNULL(WT_UNIT,'KG'),'KG',ISNULL(USER_WTA,0)) AS USER_WTA,
			ISNULL(USER_WTC,'') AS USER_WTC,
			ISNULL(ITEM_URL,'') AS ITEM_URL,
			ISNULL(ITEM_IMG_URL,'') AS ITEM_IMG_URL,
			ISNULL(STATUS,'') AS STATUS,
			ISNULL(TRK_COM,'') AS TRK_COM,
			ISNULL(TRK_NO,'') AS TRK_NO,
			ISNULL(TRK_DATE,'') AS TRK_DATE,
			ISNULL(NATIVE_ITEM_DETAIL,'') AS NATIVE_ITEM_DETAIL,
			ISNULL(CUS_ITEM_CODE,'') AS CUS_ITEM_CODE,
			ISNULL(W_USER_ID,'') AS W_USER_ID,
			ISNULL(W_USER_IP,'') AS W_USER_IP,
			ISNULL(W_DATE,'') AS W_DATE,
			ISNULL(NATION_CODE,'') AS NATION_CODE,
			ISNULL(DIM_UNIT,'') AS DIM_UNIT,
			ISNULL(ITEM_COLOR,'') AS ITEM_COLOR,
			ISNULL(ITEM_SIZE,'') AS ITEM_SIZE,
			(SELECT SUM(ITEM_CNT) FROM TMP_ORDER_ITEM WHERE NNO = F1.NNO) AS TOTAL_ITEM_CNT,
			ISNULL((SELECT TOP 1 TAKE_IN_CODE FROM TB_YSL_ITEM_CODE WHERE USER_ID = F1.USER_ID AND CUS_ITEM_CODE = F1.CUS_ITEM_CODE),'') AS SAGAWA_ITEM_CODE
		FROM TMP_ORDER_ITEM F1
		WHERE NNO = #{nno} AND SUB_NO = #{subNo}
	</select>
	
	<select id="spTransBl" parameterType="hashMap" resultType="com.example.temp.api.shipment.ShipmentVO" statementType="CALLABLE">
		DECLARE
		    @RST_STATUS NVARCHAR(50),
		    @RST_CODE NVARCHAR(50),
		    @RST_MSG NVARCHAR(100),
		    @RST_NNO NVARCHAR(50),
		    @RST_HAWB_NO NVARCHAR(50)
	
		EXEC SP_TRANS_BL2
			#{nno},
			#{userId},
			#{userIp},
			#{hawbNo},
			@RST_STATUS output,
			@RST_CODE output,
			@RST_MSG output,
			@RST_NNO output,
			@RST_HAWB_NO output
	
		SELECT @RST_STATUS as RST_STATUS, @RST_CODE as RST_CODE, @RST_MSG as RST_MSG, @RST_NNO as RST_NNO, @RST_HAWB_NO as RST_HAWB_NO;
	</select>
	
	<select id="spTransBlApply" parameterType="hashMap" resultType="com.example.temp.api.shipment.ShipmentVO" statementType="CALLABLE">
		DECLARE
		    @RST_STATUS NVARCHAR(50),
		    @RST_CODE NVARCHAR(50),
		    @RST_MSG NVARCHAR(100),
		    @RST_NNO NVARCHAR(50),
		    @RST_HAWB_NO NVARCHAR(50)
	
		EXEC SP_TRANS_BL_APPLY3
			#{nno},
			#{userId},
			#{userIp},
			@RST_STATUS output,
			@RST_CODE output,
			@RST_MSG output,
			@RST_NNO output,
			@RST_HAWB_NO output
	
		SELECT @RST_STATUS as RST_STATUS, @RST_CODE as RST_CODE, @RST_MSG as RST_MSG, @RST_NNO as RST_NNO, @RST_HAWB_NO as RST_HAWB_NO;
	</select>
	
	<insert id="insertTbApiError" parameterType="hashMap">
		INSERT INTO TB_API_ERROR (NNO, USER_ID, ERROR_MSG, W_DATE) VALUES 
		(#{nno}, #{userId}, #{errorMsg}, GETDATE());
	</insert>
	
	<update id="updateTmpOrderListStatus" parameterType="hashMap">
		UPDATE TMP_ORDER_LIST SET [STATUS] = CONCAT([STATUS],#{status}) WHERE NNO = #{nno} AND USER_ID = #{userId};
	</update>
	
	<select id="selectExportChk" parameterType="hashMap" resultType="Integer">
		SELECT COUNT(*) FROM TB_EXPORT_INFO WHERE NNO = #{nno} AND EXP_TYPE = 'F' AND ISNULL(EXP_LICENSE_NO,'') != '' AND SEND_YN = 'N'
	</select>
	
	<select id="selectExportInfo" parameterType="hashMap" resultType="com.example.temp.api.shipment.ExportVO">
		SELECT
			ISNULL((SELECT VALUE_MATCH_NO FROM TB_MATCHING_INFO WHERE NNO = F1.NNO),F1.HAWB_NO) AS HAWB_NO,
			ISNULL(F1.BOX_CNT,1) AS BOX_CNT,
			ROUND(ISNULL((SELECT WTA FROM TB_HAWB WHERE NNO = F1.NNO AND HAWB_NO = F1.HAWB_NO AND USER_ID = F1.USER_ID),F1.USER_WTA),2) AS WTA,
			ROUND(ISNULL(F1.USER_WTA,0),2) AS USER_WTA,
			ISNULL(F2.EXP_NO,'') AS EXP_NO
		FROM TB_ORDER_LIST F1, TB_EXP_DCL F2
		WHERE F1.NNO = F2.NNO AND F1.USER_ID = F2.USER_ID AND F1.NNO = #{nno}
		<!-- 
		SELECT
			F1.NNO,
			ISNULL(F1.ORDER_NO,'') AS ORDER_NO,
			ISNULL(EXP_TYPE,'') AS EXP_TYPE,
			ISNULL(EXP_LICENSE_NO,'') AS EXP_LICENSE_NO,
			ISNULL(EXP_BIZ_NAME,'') AS EXP_BIZ_NAME,
			ISNULL(EXP_BIZ_NO,'') AS EXP_BIZ_NO,
			ISNULL(EXP_CC_CODE,'') AS EXP_CC_CODE,
			ISNULL(EXP_AGENCY_NAME,'') AS EXP_AGENCY_NAME,
			ISNULL(SEND_YN,'') AS SEND_YN,
			ISNULL(F1.W_DATE,'') AS W_DATE,
			ISNULL(F2.HAWB_NO,'') AS HAWB_NO,
			ISNULL(F2.BOX_CNT,1) AS BOX_CNT,
			ISNULL(F2.USER_WTA,0) AS USER_WTA
		FROM TB_EXPORT_INFO F1, TB_ORDER_LIST F2
		WHERE F1.NNO = F2.NNO AND F1.ORDER_NO = F2.ORDER_NO AND F1.NNO = #{nno}
		 -->
	</select>
	
	<update id="updateExportLicenseInfo" parameterType="hashMap">
		UPDATE TB_EXP_DCL SET SEND_YN = #{sendYn}, W_DATE = GETDATE() WHERE NNO = #{nno};
	</update>
	
	<select id="selectFastboxMallInfo" parameterType="String" resultType="com.example.temp.api.shipment.ResaleMallVO">
		SELECT
			USER_ID,
			SELLER_NAME,
			ISNULL(BRAND_NAME,'') AS BRAND_NAME,
			ISNULL(ATTN_NAME,'') AS ATTN_NAME,
			ISNULL(COM_NAME,'') AS COM_NAME,
			ISNULL(COM_REG_NO,'') AS COM_REG_NO,
			ISNULL(SELLER_ADDR,'') AS SELLER_ADDR,
			ISNULL(SELLER_ADDR_DETAIL,'') AS SELLER_ADDR_DETAIL,
			ISNULL(EXP_USE_YN,'') AS EXP_USE_YN,
			ISNULL(EXP_UNIT_VALUE,'') AS EXP_UNIT_VALUE,
			ISNULL(CUSTOMS_NO,'') AS CUSTOMS_NO,
			ISNULL(SHIPPER_ZIP,'') AS SHIPPER_ZIP,
			ISNULL(SHIPPER_ADDR,'') AS SHIPPER_ADDR,
			ISNULL(SHIPPER_ADDR_DETAIL,'') AS SHIPPER_ADDR_DETAIL,
			ISNULL(SHIPPER_NAME,'') AS SHIPPER_NAME
		FROM TB_CUSTOMER_FB_INFO
		WHERE USER_ID = #{userId}
	</select>
	
	
	<select id="selectTmpOrderListInfoTest" parameterType="hashMap" resultType="com.example.temp.member.vo.UserOrderListVO">
		SELECT 
			NNO,
			ISNULL(ORG_STATION,'') AS ORG_STATION,
			ISNULL(DSTN_NATION,'') AS DSTN_NATION,
			ISNULL(DSTN_STATION,'') AS DSTN_STATION,
			ISNULL(USER_ID,'') AS USER_ID,
			ISNULL(ORDER_TYPE,'') AS ORDER_TYPE,
			ISNULL((SELECT NEW_ORDER_NO FROM TB_YUN_CHANGE WHERE NNO = F1.NNO AND USER_ID = F1.USER_ID),F1.ORDER_NO) AS ORDER_NO,
			ISNULL(HAWB_NO,'') AS HAWB_NO,
			ISNULL(BOX_CNT,'') AS BOX_CNT,
			ISNULL(USER_WTA,'') AS USER_WTA,
			ISNULL(USER_WTC,'') AS USER_WTC,
			ISNULL(SHIPPER_NAME,'') AS SHIPPER_NAME,
			ISNULL(SHIPPER_ZIP,'') AS SHIPPER_ZIP,
			ISNULL(SHIPPER_TEL,'') AS SHIPPER_TEL,
			ISNULL(SHIPPER_HP,'') AS SHIPPER_HP,
			ISNULL(SHIPPER_CNTRY,'') AS SHIPPER_CNTRY,
			ISNULL(SHIPPER_CITY,'') AS SHIPPER_CITY,
			ISNULL(SHIPPER_STATE,'') AS SHIPPER_STATE,
			ISNULL(SHIPPER_ADDR,'') AS SHIPPER_ADDR,
			ISNULL(SHIPPER_ADDR_DETAIL,'') AS SHIPPER_ADDR_DETAIL,
			ISNULL(CNEE_NAME,'') AS CNEE_NAME,
			ISNULL(CNEE_ADDR,'') AS CNEE_ADDR,
			ISNULL(CNEE_ZIP,'') AS CNEE_ZIP,
			ISNULL(CNEE_TEL,'') AS CNEE_TEL,
			ISNULL(CNEE_HP,'') AS CNEE_HP,
			ISNULL(CNEE_CNTRY,'') AS CNEE_CNTRY,
			ISNULL(CNEE_CITY,'') AS CNEE_CITY,
			ISNULL(CNEE_STATE,'') AS CNEE_STATE,
			ISNULL(CNEE_ADDR_DETAIL,'') AS CNEE_ADDR_DETAIL,
			ISNULL(USER_LENGTH,'') AS USER_LENGTH,
			ISNULL(USER_WIDTH,'') AS USER_WIDTH,
			ISNULL(USER_HEIGHT,'') AS USER_HEIGHT,
			ISNULL(USER_EMAIL,'') AS USER_EMAIL,
			ISNULL(W_USER_ID,'') AS W_USER_ID,
			ISNULL(W_USER_IP,'') AS W_USER_IP,
			ISNULL(W_DATE,'') AS W_DATE,
			ISNULL(TRANS_CODE,'') AS TRANS_CODE,
			ISNULL(ORDER_DATE,'') AS ORDER_DATE,
			ISNULL(CNEE_EMAIL,'') AS CNEE_EMAIL,
			ISNULL(CUSTOMS_NO,'') AS CUSTOMS_NO,
			ISNULL(NATIVE_CNEE_NAME,'') AS NATIVE_CNEE_NAME,
			ISNULL(NATIVE_CNEE_ADDR,'') AS NATIVE_CNEE_ADDR,
			ISNULL(NATIVE_CNEE_ADDR_DETAIL,'') AS NATIVE_CNEE_ADDR_DETAIL,
			ISNULL(DIM_UNIT,'') AS DIM_UNIT,
			ISNULL(WT_UNIT,'') AS WT_UNIT,
			ISNULL(BUY_SITE,'') AS BUY_SITE,
			ISNULL(GET_BUY,'') AS GET_BUY,
			ISNULL(MALL_TYPE,'') AS MALL_TYPE,
			ISNULL(WH_REQ_MSG,'') AS WH_REQ_MSG,
			ISNULL(DLV_REQ_MSG,'') AS DLV_REQ_MSG,
			ISNULL(CNEE_DISTRICT,'') AS CNEE_DISTRICT,
			ISNULL(SHIPPER_REFERENCE,'') AS SHIPPER_REFERENCE,
			ISNULL(CNEE_REFERENCE1,'') AS CNEE_REFERENCE1,
			ISNULL(CNEE_REFERENCE2,'') AS CNEE_REFERENCE2,
			ISNULL(PAYMENT,'DDU') AS PAYMENT,
			ISNULL(FOOD,'') AS FOOD,
			ISNULL(DECL_TYPE,'4') AS DECL_TYPE,
			ISNULL(UPLOAD_TYPE,'') AS UPLOAD_TYPE,
			(SELECT COUNT(*) FROM TB_EXPLICENCE WHERE NNO = F1.NNO AND ORDER_NO = F1.ORDER_NO) AS EXP_YN,
			ISNULL(COSMETIC,'N') AS COSMETIC,
			ISNULL(SIGN,'N') AS SIGN,
			ISNULL(SHIPPER_TAX_TYPE,'0') AS SHIPPER_TAX_TYPE,
			ISNULL(SHIPPER_TAX_NO,'') AS SHIPPER_TAX_NO,
			ISNULL(CNEE_TAX_TYPE,'0') AS CNEE_TAX_TYPE,
			ISNULL(CNEE_TAX_NO,'') AS CNEE_TAX_NO
		FROM TB_ORDER_LIST F1
		WHERE NNO = #{nno}
	</select>
	
	<select id="selectTmpOrderItemInfoTest" parameterType="hashMap" resultType="com.example.temp.member.vo.UserOrderItemVO">
		SELECT 
			NNO,
			SUB_NO,
			ISNULL(ORG_STATION,'') AS ORG_STATION,
			ISNULL(USER_ID,'') AS USER_ID,
			ISNULL(HS_CODE,'') AS HS_CODE,
			ISNULL(ITEM_DETAIL,'') AS ITEM_DETAIL,
			ISNULL(UNIT_CURRENCY,'') AS UNIT_CURRENCY,
			ISNULL(ITEM_CNT,'1') AS ITEM_CNT,
			ISNULL(UNIT_VALUE,'0') AS UNIT_VALUE,
			ISNULL(BRAND,'') AS BRAND,
			ISNULL(MAKE_CNTRY,'') AS MAKE_CNTRY,
			ISNULL(MAKE_COM,'') AS MAKE_COM,
			ISNULL(ITEM_DIV,'') AS ITEM_DIV,
			ISNULL(WT_UNIT,'') AS WT_UNIT,
			ISNULL(QTY_UNIT,'') AS QTY_UNIT,
			ISNULL(PACKAGE_UNIT,'') AS PACKAGE_UNIT,
			ISNULL(EXCHANGE_RATE,'') AS EXCHANGE_RATE,
			ISNULL(CHG_CURRENCY,UNIT_CURRENCY) AS CHG_CURRENCY,
			ISNULL(CHG_AMT,0) AS CHG_AMT,
			ISNULL(ITEM_METERIAL,'') AS ITEM_METERIAL,
			ISNULL(TAKE_IN_CODE,'') AS TAKE_IN_CODE,
			DBO.FN_WEIGHT_CHG(ISNULL(WT_UNIT,'KG'),'KG',ISNULL(USER_WTA,0.1)) AS USER_WTA,
			ISNULL(USER_WTC,'') AS USER_WTC,
			ISNULL(ITEM_URL,'') AS ITEM_URL,
			ISNULL(ITEM_IMG_URL,'') AS ITEM_IMG_URL,
			ISNULL(TRK_COM,'') AS TRK_COM,
			ISNULL(TRK_NO,'') AS TRK_NO,
			ISNULL(TRK_DATE,'') AS TRK_DATE,
			ISNULL(NATIVE_ITEM_DETAIL,'') AS NATIVE_ITEM_DETAIL,
			ISNULL(CUS_ITEM_CODE,'') AS CUS_ITEM_CODE,
			ISNULL(W_USER_ID,'') AS W_USER_ID,
			ISNULL(W_USER_IP,'') AS W_USER_IP,
			ISNULL(W_DATE,'') AS W_DATE,
			ISNULL(ITEM_COLOR,'') AS ITEM_COLOR,
			ISNULL(ITEM_SIZE,'') AS ITEM_SIZE,
			ISNULL((SELECT TOP 1 TAKE_IN_CODE FROM TB_YSL_ITEM_CODE WHERE USER_ID = F1.USER_ID AND CUS_ITEM_CODE = F1.CUS_ITEM_CODE),'') AS SAGAWA_ITEM_CODE
		FROM TB_ORDER_ITEM F1
		WHERE NNO = #{nno}
	</select>
	
	<select id="selectExportDelareRequestBody" parameterType="hashMap" resultType="com.example.temp.api.shipment.ExportVO">
		SELECT 
			F1.NNO,
			ISNULL(F1.ORDER_NO,'') AS ORDER_NO,
			ISNULL(F1.ORDER_DATE,SUBSTRING(F1.NNO,1,8)) AS ORDER_DATE,
			ISNULL(F1.BOX_CNT,1) AS BOX_CNT,
			ISNULL((SELECT VALUE_MATCH_NO FROM TB_MATCHING_INFO WHERE NNO = F1.NNO AND KEY_HAWB_NO = F1.HAWB_NO),F1.HAWB_NO) AS HAWB_NO,
			ISNULL(F2.AGT_COR,'') AS AGT_COR,
			ISNULL(F2.AGT_CST_CD,'00NECwQh10Wxb0w0BjtJlw==') AS AGT_CST_CD,
			ISNULL(F2.AGT_BIZ_NO,'') AS AGT_BIZ_NO,
			ISNULL(F2.EXP_COR,'') AS EXP_COR,
			ISNULL(F2.EXP_RPRSN,'') AS EXP_RPRSN,
			ISNULL(F2.EXP_ADDR,'00NECwQh10Wxb0w0BjtJlw==') AS EXP_ADDR,
			ISNULL(F2.EXP_ZIP,'') AS EXP_ZIP,
			ISNULL(F2.EXP_RGSTR_NO,'00NECwQh10Wxb0w0BjtJlw==') AS EXP_RGSTR_NO,
			ISNULL(F2.EXP_CST_CD,'00NECwQh10Wxb0w0BjtJlw==') AS EXP_CST_CD,
			ISNULL(F1.CNEE_NAME,'') AS CNEE_NAME,
			ISNULL(F1.DSTN_NATION,'') AS DSTN_NATION,
			ISNULL(F1.PAYMENT,'DDU') AS PAYMENT,
			ROUND(ISNULL((SELECT WTA FROM TB_HAWB WHERE NNO = F1.NNO AND HAWB_NO = F1.HAWB_NO), F1.USER_WTA),2) AS WTA,
			ISNULL(F1.WT_UNIT,'KG') AS WT_UNIT,
			ISNULL((SELECT UNIT_CURRENCY FROM TB_ORDER_ITEM WHERE NNO = F1.NNO AND USER_ID = F1.USER_ID AND ORG_STATION = F1.ORG_STATION AND SUB_NO = 1),
				(SELECT CHG_CURRENCY FROM TB_ORDER_ITEM WHERE NNO = F1.NNO AND USER_ID = F1.USER_ID AND ORG_STATION = F1.ORG_STATION AND SUB_NO = 1)) AS UNIT_CURRENCY,
			STUFF((SELECT CONCAT('|^|',SUB_NO,'|',ITEM_CNT,'|',UNIT_VALUE,'|',ITEM_DETAIL,'|',ISNULL(HS_CODE,''),'|',
				CASE WHEN ISNULL(UNIT_CURRENCY,'') = '' THEN CHG_CURRENCY ELSE UNIT_CURRENCY END,'|',ROUND((ITEM_CNT*UNIT_VALUE),2)),'|',ISNULL(BRAND,'') FROM TB_ORDER_ITEM WHERE NNO = F1.NNO AND USER_ID = F1.USER_ID AND ORG_STATION = F1.ORG_STATION FOR XML PATH('')), 1, 3, '') AS ITEM_INFO,
			ROUND((SELECT SUM(UNIT_VALUE*ITEM_CNT) FROM TB_ORDER_ITEM WHERE NNO = F1.NNO AND USER_ID = F1.USER_ID AND ORG_STATION = F1.ORG_STATION),2) AS TOTAL_ITEM_VALUE
		FROM TB_ORDER_LIST F1, TB_EXP_DCL F2
		WHERE F1.NNO = F2.NNO 
			AND F1.USER_ID = F2.USER_ID
			AND F1.NNO = #{nno}
	</select>
	
	<insert id="insertShopeeInfo" parameterType="com.example.temp.api.shop.shopee.ShopeeDTO">
		INSERT INTO TB_SHOPEE (
			USER_ID, SHOPEE_ID, MERCHANT_YN, REFRESH_TOKEN, TOKEN_CREATED, TOKEN_EXPIRES, AUTH_EXPIRES,
			SHOP_NAME, SHOP_REGION, USE_YN, W_DATE
		) VALUES (
			#{userId}, #{shopeeId}, #{merchantYn}, #{refreshToken}, GETDATE(), DATEADD(DAY, 30, GETDATE()), #{authExpires},
			#{shopName}, #{shopRegion}, #{useYn}, GETDATE())
	</insert>
	
	<update id="updateShopeeRefreshToken" parameterType="com.example.temp.api.shop.shopee.ShopeeDTO">
		UPDATE TB_SHOPEE 
		SET REFRESH_TOKEN = #{refreshToken}, TOKEN_CREATED = GETDATE(), TOKEN_EXPIRES = DATEADD(DAY, 30, GETDATE())
		WHERE USER_ID = #{userId} AND SHOPEE_ID = #{shopeeId}
	</update>
	
	<select id="selectShopeeInfoCnt" parameterType="hashMap" resultType="Integer">
		SELECT COUNT(*) FROM TB_SHOPEE WHERE USER_ID = #{userId}
	</select>
	
	<select id="selectShopeeInfoList" parameterType="hashMap" resultType="com.example.temp.api.shop.shopee.ShopeeDTO">
		SELECT
			ISNULL(USER_ID,'') AS USER_ID,
			ISNULL(SHOPEE_ID,'') AS SHOPEE_ID,
			ISNULL(MERCHANT_YN,'') AS MERCHANT_YN,
			ISNULL(REFRESH_TOKEN,'') AS REFRESH_TOKEN,
			ISNULL(TOKEN_CREATED,'') AS TOKEN_CREATED,
			ISNULL(TOKEN_EXPIRES,'') AS TOKEN_EXPIRES,
			ISNULL(AUTH_EXPIRES,'') AS AUTH_EXPIRES,
			ISNULL(SHOP_NAME,'') AS SHOP_NAME,
			ISNULL(SHOP_REGION,'') AS SHOP_REGION,
			ISNULL(USE_YN,'') AS USE_YN,
			ISNULL(W_DATE,'') AS W_DATE
		FROM TB_SHOPEE WHERE USER_ID = #{userId} 
		<if test="useYn != null and useYn != ''">AND USE_YN = 'Y' </if>
		<if test="merchantYn != null and merchant != ''">AND MERCHANT_YN = #{merchantYn} </if>
		<if test="shopeeId != null and shopeeId != 0">AND SHOPEE_ID = #{shopeeId}</if>
		ORDER BY IDX
	</select>
	
	<update id="updateShopeeUseYn" parameterType="com.example.temp.api.shop.shopee.ShopeeDTO">
		UPDATE TB_SHOPEE SET USE_YN = #{useYn} WHERE USER_ID = #{userId} AND SHOPEE_ID = #{shopeeId};
	</update>
	
	<insert id="insertShopeeHistory" parameterType="com.example.temp.api.shop.shopee.ShopeeDTO">
		INSERT INTO HIS_SHOPEE (
			IDX, USER_ID, SHOPEE_ID, MERCHANT_YN, REFRESH_TOKEN, TOKEN_CREATED, TOKEN_EXPIRES, AUTH_EXPIRES,
			SHOP_NAME, SHOP_REGION, USE_YN, W_DATE, D_DATE, D_USER_ID, D_USER_IP)
		SELECT IDX, USER_ID, SHOPEE_ID, MERCHANT_YN, REFRESH_TOKEN, TOKEN_CREATED, TOKEN_EXPIRES, AUTH_EXPIRES,
			SHOP_NAME, SHOP_REGION, USE_YN, W_DATE, GETDATE(), #{dUserId}, #{dUserIp}
		FROM TB_SHOPEE WHERE USER_ID = #{userId};
	</insert>
	
	<delete id="deleteShopeeList" parameterType="com.example.temp.api.shop.shopee.ShopeeDTO">
		DELETE FROM TB_SHOPEE WHERE USER_ID = #{userId};
	</delete>
</mapper>