<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.temp.member.mapper.MemberStockMapper">

	
	<select id="userinSpStation" parameterType="hashMap" resultType="com.example.temp.member.vo.UserInspStationVO">
		SELECT ORG_STATION STATION , 
	           (SELECT STATION_NAME FROM TB_STATION WHERE STATION_CODE = F1.ORG_STATION) STATIONNAME       
	      FROM TB_STOCK  F1
	     WHERE USER_ID = #{userId}
	     GROUP BY ORG_STATION
	</select>
	
	
	<select id="usrStockStatus" parameterType="hashMap" resultType="com.example.temp.member.vo.CodeVO">
		 SELECT '2' , CODE,
                NAME 
          FROM TB_CODE 
         WHERE CODE_DIV = 'WH_STATUS' order by REPLACE(NAME,'정상','1')
	</select>
	
	<select id="selectTotalCountStock" parameterType="hashMap" resultType="integer">
			 SELECT COUNT(*) FROM (
					SELECT DISTINCT ROW_NUMBER() OVER(ORDER BY F1.GROUP_IDX ASC) ROWNUM,
					       F1.NNO ,
					       F1.USER_ID,
					       F1.GROUP_IDX,
					       F1.RACK_CODE , 
					       (SELECT STATION_NAME FROM TB_STATION WHERE STATION_CODE = F1.ORG_STATION) STATION_NAME,
					       F1.ORG_STATION ,
					       ISNULL((SELECT ORDER_NO FROM TB_ORDER_LIST WHERE NNO = F1.NNO AND USER_ID =F1.USER_ID AND ORG_STATION = F1.ORG_STATION),'') ORDER_NO,
					       ISNULL((SELECT HAWB_NO FROM TB_ORDER_LIST WHERE NNO = F1.NNO AND USER_ID =F1.USER_ID AND ORG_STATION = F1.ORG_STATION),'') HAWB_NO,
					       ISNULL((SELECT CNEE_NAME FROM TB_ORDER_LIST WHERE NNO = F1.NNO AND USER_ID =F1.USER_ID AND ORG_STATION = F1.ORG_STATION),'') CNEE_NAME,
					       ISNULL((SELECT CNEE_TEL FROM TB_ORDER_LIST WHERE NNO = F1.NNO AND USER_ID =F1.USER_ID AND ORG_STATION = F1.ORG_STATION),'') CNEE_TEL,
					       ISNULL((SELECT CNEE_HP FROM TB_ORDER_LIST WHERE NNO = F1.NNO AND USER_ID =F1.USER_ID AND ORG_STATION = F1.ORG_STATION),'') CNEE_HP,
					       ISNULL((SELECT CNEE_ADDR FROM TB_ORDER_LIST WHERE NNO = F1.NNO AND USER_ID =F1.USER_ID AND ORG_STATION = F1.ORG_STATION),'') CNEE_ADDR,
					       ISNULL((SELECT CNEE_ADDR_DETAIL FROM TB_ORDER_LIST WHERE NNO = F1.NNO AND USER_ID =F1.USER_ID AND ORG_STATION = F1.ORG_STATION),'') CNEE_ADDR_DETAIL,
					       F1.GROUP_IDX GROUP_CODE , 
					       F1.WH_STATUS ,
					       (SELECT NAME FROM TB_CODE WHERE CODE_DIV = 'WH_STATUS' AND CODE = F1.WH_STATUS) WH_STATUS_NAME,
					       F1.WH_IN_DATE,
					       COUNT(*) WH_CNT,
					       ISNULL((SELECT TOP 1 SUBSTRING(WH_MEMO,1,30) FROM TB_STOCK_MSG WHERE ORG_STATION = F1.ORG_STATION AND USER_ID = F1.USER_ID AND GROUP_IDX = F1.GROUP_IDX AND MSG_DIV = 'WHIN' ORDER BY W_DATE DESC),'') WH_MEMO,
					       ISNULL((SELECT TOP 1 SUBSTRING(WH_MEMO,1,30) FROM TB_STOCK_MSG WHERE ORG_STATION = F1.ORG_STATION AND USER_ID = F1.USER_ID AND GROUP_IDX = F1.GROUP_IDX AND MSG_DIV = 'MSG' AND ADMIN_YN = 'N' ORDER BY W_DATE DESC),'') USER_MSG,
					       ISNULL((SELECT TOP 1 SUBSTRING(WH_MEMO,1,30) FROM TB_STOCK_MSG WHERE ORG_STATION = F1.ORG_STATION AND USER_ID = F1.USER_ID AND GROUP_IDX = F1.GROUP_IDX AND MSG_DIV = 'MSG' AND ADMIN_YN = 'Y' ORDER BY W_DATE DESC),'') ADMIN_MSG,
					       ISNULL((SELECT TOP 1 FILE_DIR FROM TB_STOCK_FILE WHERE ORG_STATION = F1.ORG_STATION  AND GROUP_IDX = F1.GROUP_IDX AND FILE_IDX = '1' ORDER BY W_DATE DESC),'') FILE_DIR,
                           ISNULL((SELECT TOP 1 FILE_DIR FROM TB_STOCK_FILE WHERE ORG_STATION = F1.ORG_STATION  AND GROUP_IDX = F1.GROUP_IDX AND FILE_IDX = '2' ORDER BY W_DATE DESC),'') FILE_DIR2,
                           ISNULL((SELECT TOP 1 FILE_DIR FROM TB_STOCK_FILE WHERE ORG_STATION = F1.ORG_STATION  AND GROUP_IDX = F1.GROUP_IDX AND FILE_IDX = '3' ORDER BY W_DATE DESC),'') FILE_DIR3,
                           ISNULL((SELECT TOP 1 FILE_DIR FROM TB_STOCK_FILE WHERE ORG_STATION = F1.ORG_STATION  AND GROUP_IDX = F1.GROUP_IDX AND FILE_IDX = '4' ORDER BY W_DATE DESC),'') FILE_DIR4,
                           ISNULL((SELECT TOP 1 FILE_DIR FROM TB_STOCK_FILE WHERE ORG_STATION = F1.ORG_STATION  AND GROUP_IDX = F1.GROUP_IDX AND FILE_IDX = '5' ORDER BY W_DATE DESC),'') FILE_DIR5
					  from TB_STOCK F1 
					WHERE 1= 1 
					AND ISNULL(F1.OUT_NNO,'') NOT IN (SELECT NNO FROM TB_HAWB where USER_ID = #{userId})
					<if test='orgStation != null and orgStation != ""'>
					   AND F1.ORG_STATION = #{orgStation}
					</if>
					<if test='whGroupStatus != null and whGroupStatus != "" and whGroupStatus == "Y"'>
					   AND F1.WH_STATUS NOT IN ('RT','TR','UG')
					</if>
					<if test='whGroupStatus != null and whGroupStatus != "" and whGroupStatus == "N"'>
					   AND F1.WH_STATUS IN ('RT','TR','UG')
					</if>  
					<if test='whStatus != null and whStatus != ""'>
						AND F1.WH_STATUS = #{whStatus}
					</if>   
				 	<if test='userId != null and userId != ""'>
						 AND F1.USER_ID = #{userId}
					</if>
					<if test='orderNo != null and orderNo != ""'>	
					    AND (SELECT ORDER_NO FROM TB_ORDER_LIST WHERE NNO = F1.NNO AND USER_ID =F1.USER_ID AND ORG_STATION = F1.ORG_STATION) = #{orderNo} 
					</if>
					<if test='hawbNo != null and hawbNo != ""'>	
					    AND (SELECT HAWB_NO FROM TB_ORDER_LIST WHERE NNO = F1.NNO AND USER_ID =F1.USER_ID AND ORG_STATION = F1.ORG_STATION) = #{hawbNo} 
					</if>
					GROUP BY F1.NNO , 
						     F1.ORG_STATION , 
					         F1.USER_ID, 
					         F1.NNO , 
					         F1.WH_STATUS , 
					         F1.WH_IN_DATE,
					         F1.GROUP_IDX,
					         F1.RACK_CODE
					) M1
	</select>
	
	
	<select id="userInspStockList" parameterType="hashMap" resultType="com.example.temp.member.vo.UserGroupStockVO">
	 SELECT * FROM (
					SELECT DISTINCT ROW_NUMBER() OVER(ORDER BY F1.GROUP_IDX ASC) ROWNUM,
					       F1.NNO ,
					       F1.USER_ID,
					       F1.GROUP_IDX,
					       F1.RACK_CODE , 
					       (SELECT STATION_NAME FROM TB_STATION WHERE STATION_CODE = F1.ORG_STATION) STATION_NAME,
					       F1.ORG_STATION ,
					       ISNULL((SELECT ORDER_NO FROM TB_ORDER_LIST WHERE NNO = F1.NNO AND USER_ID =F1.USER_ID AND ORG_STATION = F1.ORG_STATION),'') ORDER_NO,
					       ISNULL((SELECT HAWB_NO FROM TB_ORDER_LIST WHERE NNO = F1.NNO AND USER_ID =F1.USER_ID AND ORG_STATION = F1.ORG_STATION),'') HAWB_NO,
					       ISNULL((SELECT CNEE_NAME FROM TB_ORDER_LIST WHERE NNO = F1.NNO AND USER_ID =F1.USER_ID AND ORG_STATION = F1.ORG_STATION),'') CNEE_NAME,
					       ISNULL((SELECT CNEE_TEL FROM TB_ORDER_LIST WHERE NNO = F1.NNO AND USER_ID =F1.USER_ID AND ORG_STATION = F1.ORG_STATION),'') CNEE_TEL,
					       ISNULL((SELECT CNEE_HP FROM TB_ORDER_LIST WHERE NNO = F1.NNO AND USER_ID =F1.USER_ID AND ORG_STATION = F1.ORG_STATION),'') CNEE_HP,
					       ISNULL((SELECT CNEE_ADDR FROM TB_ORDER_LIST WHERE NNO = F1.NNO AND USER_ID =F1.USER_ID AND ORG_STATION = F1.ORG_STATION),'') CNEE_ADDR,
					       ISNULL((SELECT CNEE_ADDR_DETAIL FROM TB_ORDER_LIST WHERE NNO = F1.NNO AND USER_ID =F1.USER_ID AND ORG_STATION = F1.ORG_STATION),'') CNEE_ADDR_DETAIL,
					       F1.GROUP_IDX GROUP_CODE , 
					       F1.WH_STATUS ,
					       (SELECT NAME FROM TB_CODE WHERE CODE_DIV = 'WH_STATUS' AND CODE = F1.WH_STATUS) WH_STATUS_NAME,
					       F1.WH_IN_DATE,
					       COUNT(*) WH_CNT,
					       ISNULL((SELECT TOP 1 SUBSTRING(WH_MEMO,1,30) FROM TB_STOCK_MSG WHERE ORG_STATION = F1.ORG_STATION AND USER_ID = F1.USER_ID AND GROUP_IDX = F1.GROUP_IDX AND MSG_DIV = 'WHIN' ORDER BY W_DATE DESC),'') WH_MEMO,
					       ISNULL((SELECT TOP 1 SUBSTRING(WH_MEMO,1,30) FROM TB_STOCK_MSG WHERE ORG_STATION = F1.ORG_STATION AND USER_ID = F1.USER_ID AND GROUP_IDX = F1.GROUP_IDX AND MSG_DIV = 'MSG' AND ADMIN_YN = 'N' ORDER BY W_DATE DESC),'') USER_MSG,
					       ISNULL((SELECT TOP 1 SUBSTRING(WH_MEMO,1,30) FROM TB_STOCK_MSG WHERE ORG_STATION = F1.ORG_STATION AND USER_ID = F1.USER_ID AND GROUP_IDX = F1.GROUP_IDX AND MSG_DIV = 'MSG' AND ADMIN_YN = 'Y' ORDER BY W_DATE DESC),'') ADMIN_MSG,
                           ISNULL((SELECT TOP 1  FILE_DIR FROM TB_STOCK_FILE WHERE FILE_IDX = 1 AND GROUP_IDX = F1.GROUP_IDX ORDER BY W_DATE DESC),'') AS FILE_DIR,
						   ISNULL((SELECT TOP 1  FILE_DIR FROM TB_STOCK_FILE WHERE FILE_IDX = 2 AND GROUP_IDX = F1.GROUP_IDX ORDER BY W_DATE DESC),'') AS FILE_DIR2,
						   ISNULL((SELECT TOP 1  FILE_DIR FROM TB_STOCK_FILE WHERE FILE_IDX = 3 AND GROUP_IDX = F1.GROUP_IDX ORDER BY W_DATE DESC),'') AS FILE_DIR3,
						   ISNULL((SELECT TOP 1  FILE_DIR FROM TB_STOCK_FILE WHERE FILE_IDX = 4 AND GROUP_IDX = F1.GROUP_IDX ORDER BY W_DATE DESC),'') AS FILE_DIR4,
						   ISNULL((SELECT TOP 1  FILE_DIR FROM TB_STOCK_FILE WHERE FILE_IDX = 5 AND GROUP_IDX = F1.GROUP_IDX ORDER BY W_DATE DESC),'') AS FILE_DIR5
					  from TB_STOCK F1 
					WHERE 1= 1 
					AND ISNULL(F1.OUT_NNO,'') NOT IN (SELECT NNO FROM TB_HAWB where USER_ID = #{userId})
					<if test='orgStation != null and orgStation != ""'>
					AND F1.ORG_STATION = #{orgStation}
					</if>
					<if test='whGroupStatus != null and whGroupStatus != "" and whGroupStatus == "Y"'>
					   AND F1.WH_STATUS NOT IN ('RT','TR','UG')
					</if>
					<if test='whGroupStatus != null and whGroupStatus != "" and whGroupStatus == "N"'>
					   AND F1.WH_STATUS IN ('RT','TR','UG')
					</if>
					<if test='whStatus != null and whStatus != ""'>
						AND F1.WH_STATUS = #{whStatus}
					</if>  
				 	<if test='userId != null and userId != ""'>
						 AND F1.USER_ID = #{userId}
					</if>
					<if test='orderNo != null and orderNo != ""'>	
					    AND (SELECT ORDER_NO FROM TB_ORDER_LIST WHERE NNO = F1.NNO AND USER_ID =F1.USER_ID AND ORG_STATION = F1.ORG_STATION) = #{orderNo} 
					</if>
					<if test='hawbNo != null and hawbNo != ""'>	
					    AND (SELECT HAWB_NO FROM TB_ORDER_LIST WHERE NNO = F1.NNO AND USER_ID =F1.USER_ID AND ORG_STATION = F1.ORG_STATION) = #{hawbNo} 
					</if>
					GROUP BY F1.NNO , 
						     F1.ORG_STATION , 
					         F1.USER_ID, 
					         F1.NNO , 
					         F1.WH_STATUS , 
					         F1.WH_IN_DATE,
					         F1.GROUP_IDX,
					         F1.RACK_CODE
					) M1
				WHERE M1.ROWNUM BETWEEN #{paging.boardStart} and #{paging.boardEnd}
</select>



	<select id="selectTotalCountStockUnIdent" parameterType="hashMap" resultType="integer">
			 SELECT COUNT(*) FROM (
					SELECT DISTINCT ROW_NUMBER() OVER(ORDER BY F1.GROUP_IDX ASC) ROWNUM,
					       F1.NNO ,
					       F1.USER_ID,
					       F1.GROUP_IDX,
					       F1.RACK_CODE , 
					       (SELECT STATION_NAME FROM TB_STATION WHERE STATION_CODE = F1.ORG_STATION) STATION_NAME,
					       F1.ORG_STATION ,
					       ISNULL((SELECT ORDER_NO FROM TB_ORDER_LIST WHERE NNO = F1.NNO AND USER_ID =F1.USER_ID AND ORG_STATION = F1.ORG_STATION),'') ORDER_NO,
					       ISNULL((SELECT HAWB_NO FROM TB_ORDER_LIST WHERE NNO = F1.NNO AND USER_ID =F1.USER_ID AND ORG_STATION = F1.ORG_STATION),'') HAWB_NO,
					       ISNULL((SELECT CNEE_NAME FROM TB_ORDER_LIST WHERE NNO = F1.NNO AND USER_ID =F1.USER_ID AND ORG_STATION = F1.ORG_STATION),'') CNEE_NAME,
					       ISNULL((SELECT CNEE_TEL FROM TB_ORDER_LIST WHERE NNO = F1.NNO AND USER_ID =F1.USER_ID AND ORG_STATION = F1.ORG_STATION),'') CNEE_TEL,
					       ISNULL((SELECT CNEE_HP FROM TB_ORDER_LIST WHERE NNO = F1.NNO AND USER_ID =F1.USER_ID AND ORG_STATION = F1.ORG_STATION),'') CNEE_HP,
					       ISNULL((SELECT CNEE_ADDR FROM TB_ORDER_LIST WHERE NNO = F1.NNO AND USER_ID =F1.USER_ID AND ORG_STATION = F1.ORG_STATION),'') CNEE_ADDR,
					       ISNULL((SELECT CNEE_ADDR_DETAIL FROM TB_ORDER_LIST WHERE NNO = F1.NNO AND USER_ID =F1.USER_ID AND ORG_STATION = F1.ORG_STATION),'') CNEE_ADDR_DETAIL,
					       F1.GROUP_IDX GROUP_CODE , 
					       F1.WH_STATUS ,
					       (SELECT NAME FROM TB_CODE WHERE CODE_DIV = 'WH_STATUS' AND CODE = F1.WH_STATUS) WH_STATUS_NAME,
					       F1.WH_IN_DATE,
					       COUNT(*) WH_CNT,
					       ISNULL((SELECT TOP 1 SUBSTRING(WH_MEMO,1,30) FROM TB_STOCK_MSG WHERE ORG_STATION = F1.ORG_STATION AND USER_ID = F1.USER_ID AND GROUP_IDX = F1.GROUP_IDX AND MSG_DIV = 'WHIN' ORDER BY W_DATE DESC),'') WH_MEMO,
					       ISNULL((SELECT TOP 1 SUBSTRING(WH_MEMO,1,30) FROM TB_STOCK_MSG WHERE ORG_STATION = F1.ORG_STATION AND USER_ID = F1.USER_ID AND GROUP_IDX = F1.GROUP_IDX AND MSG_DIV = 'MSG' AND ADMIN_YN = 'N' ORDER BY W_DATE DESC),'') USER_MSG,
					       ISNULL((SELECT TOP 1 SUBSTRING(WH_MEMO,1,30) FROM TB_STOCK_MSG WHERE ORG_STATION = F1.ORG_STATION AND USER_ID = F1.USER_ID AND GROUP_IDX = F1.GROUP_IDX AND MSG_DIV = 'MSG' AND ADMIN_YN = 'Y' ORDER BY W_DATE DESC),'') ADMIN_MSG,
					       ISNULL((SELECT TOP 1 FILE_DIR FROM TB_STOCK_FILE WHERE ORG_STATION = F1.ORG_STATION  AND GROUP_IDX = F1.GROUP_IDX AND FILE_IDX = '1' ORDER BY W_DATE DESC),'') FILE_DIR,
                           ISNULL((SELECT TOP 1 FILE_DIR FROM TB_STOCK_FILE WHERE ORG_STATION = F1.ORG_STATION  AND GROUP_IDX = F1.GROUP_IDX AND FILE_IDX = '2' ORDER BY W_DATE DESC),'') FILE_DIR2,
                           ISNULL((SELECT TOP 1 FILE_DIR FROM TB_STOCK_FILE WHERE ORG_STATION = F1.ORG_STATION  AND GROUP_IDX = F1.GROUP_IDX AND FILE_IDX = '3' ORDER BY W_DATE DESC),'') FILE_DIR3,
                           ISNULL((SELECT TOP 1 FILE_DIR FROM TB_STOCK_FILE WHERE ORG_STATION = F1.ORG_STATION  AND GROUP_IDX = F1.GROUP_IDX AND FILE_IDX = '4' ORDER BY W_DATE DESC),'') FILE_DIR4,
                           ISNULL((SELECT TOP 1 FILE_DIR FROM TB_STOCK_FILE WHERE ORG_STATION = F1.ORG_STATION  AND GROUP_IDX = F1.GROUP_IDX AND FILE_IDX = '5' ORDER BY W_DATE DESC),'') FILE_DIR5
					  from TB_STOCK F1 
					WHERE 1= 1 
					AND ISNULL(F1.OUT_NNO,'') NOT IN (SELECT NNO FROM TB_HAWB where USER_ID = #{userId})
					AND F1.WH_STATUS = 'UG'
					AND (F1.USER_ID = #{userId} or F1.USER_ID IS NULL)
					<if test='orgStation != null and orgStation != ""'>
					   AND F1.ORG_STATION = #{orgStation}
					</if>
					<if test='orderNo != null and orderNo != ""'>	
					    AND (SELECT ORDER_NO FROM TB_ORDER_LIST WHERE NNO = F1.NNO AND USER_ID =F1.USER_ID AND ORG_STATION = F1.ORG_STATION) = #{orderNo} 
					</if>
					<if test='hawbNo != null and hawbNo != ""'>	
					    AND (SELECT HAWB_NO FROM TB_ORDER_LIST WHERE NNO = F1.NNO AND USER_ID =F1.USER_ID AND ORG_STATION = F1.ORG_STATION) = #{hawbNo} 
					</if>
					GROUP BY F1.NNO , 
						     F1.ORG_STATION , 
					         F1.USER_ID, 
					         F1.NNO , 
					         F1.WH_STATUS , 
					         F1.WH_IN_DATE,
					         F1.GROUP_IDX,
					         F1.RACK_CODE
					) M1
	</select>
	
	
	<select id="userInspStockUnidentList" parameterType="hashMap" resultType="com.example.temp.member.vo.UserGroupStockVO">
	 SELECT * FROM (
					SELECT DISTINCT ROW_NUMBER() OVER(ORDER BY F1.GROUP_IDX ASC) ROWNUM,
					       F1.NNO ,
					       F1.USER_ID,
					       F1.GROUP_IDX,
					       F1.RACK_CODE , 
					       (SELECT STATION_NAME FROM TB_STATION WHERE STATION_CODE = F1.ORG_STATION) STATION_NAME,
					       F1.ORG_STATION ,
					       ISNULL((SELECT ORDER_NO FROM TB_ORDER_LIST WHERE NNO = F1.NNO AND USER_ID =F1.USER_ID AND ORG_STATION = F1.ORG_STATION),'') ORDER_NO,
					       ISNULL((SELECT HAWB_NO FROM TB_ORDER_LIST WHERE NNO = F1.NNO AND USER_ID =F1.USER_ID AND ORG_STATION = F1.ORG_STATION),'') HAWB_NO,
					       ISNULL((SELECT CNEE_NAME FROM TB_ORDER_LIST WHERE NNO = F1.NNO AND USER_ID =F1.USER_ID AND ORG_STATION = F1.ORG_STATION),'') CNEE_NAME,
					       ISNULL((SELECT CNEE_TEL FROM TB_ORDER_LIST WHERE NNO = F1.NNO AND USER_ID =F1.USER_ID AND ORG_STATION = F1.ORG_STATION),'') CNEE_TEL,
					       ISNULL((SELECT CNEE_HP FROM TB_ORDER_LIST WHERE NNO = F1.NNO AND USER_ID =F1.USER_ID AND ORG_STATION = F1.ORG_STATION),'') CNEE_HP,
					       ISNULL((SELECT CNEE_ADDR FROM TB_ORDER_LIST WHERE NNO = F1.NNO AND USER_ID =F1.USER_ID AND ORG_STATION = F1.ORG_STATION),'') CNEE_ADDR,
					       ISNULL((SELECT CNEE_ADDR_DETAIL FROM TB_ORDER_LIST WHERE NNO = F1.NNO AND USER_ID =F1.USER_ID AND ORG_STATION = F1.ORG_STATION),'') CNEE_ADDR_DETAIL,
					       F1.GROUP_IDX GROUP_CODE , 
					       F1.WH_STATUS ,
					       (SELECT NAME FROM TB_CODE WHERE CODE_DIV = 'WH_STATUS' AND CODE = F1.WH_STATUS) WH_STATUS_NAME,
					       F1.WH_IN_DATE,
					       COUNT(*) WH_CNT,
					       ISNULL((SELECT TOP 1 SUBSTRING(WH_MEMO,1,30) FROM TB_STOCK_MSG WHERE ORG_STATION = F1.ORG_STATION AND USER_ID = F1.USER_ID AND GROUP_IDX = F1.GROUP_IDX AND MSG_DIV = 'WHIN' ORDER BY W_DATE DESC),'') WH_MEMO,
					       ISNULL((SELECT TOP 1 SUBSTRING(WH_MEMO,1,30) FROM TB_STOCK_MSG WHERE ORG_STATION = F1.ORG_STATION AND GROUP_IDX = F1.GROUP_IDX AND MSG_DIV = 'MSG' AND ADMIN_YN = 'N' ORDER BY W_DATE DESC),'') USER_MSG,
					       ISNULL((SELECT TOP 1 SUBSTRING(WH_MEMO,1,30) FROM TB_STOCK_MSG WHERE ORG_STATION = F1.ORG_STATION AND GROUP_IDX = F1.GROUP_IDX AND MSG_DIV = 'MSG' AND ADMIN_YN = 'Y' ORDER BY W_DATE DESC),'') ADMIN_MSG,
                           ISNULL((SELECT TOP 1  FILE_DIR FROM TB_STOCK_FILE WHERE FILE_IDX = 1 AND GROUP_IDX = F1.GROUP_IDX ORDER BY W_DATE DESC),'') AS FILE_DIR,
						   ISNULL((SELECT TOP 1  FILE_DIR FROM TB_STOCK_FILE WHERE FILE_IDX = 2 AND GROUP_IDX = F1.GROUP_IDX ORDER BY W_DATE DESC),'') AS FILE_DIR2,
						   ISNULL((SELECT TOP 1  FILE_DIR FROM TB_STOCK_FILE WHERE FILE_IDX = 3 AND GROUP_IDX = F1.GROUP_IDX ORDER BY W_DATE DESC),'') AS FILE_DIR3,
						   ISNULL((SELECT TOP 1  FILE_DIR FROM TB_STOCK_FILE WHERE FILE_IDX = 4 AND GROUP_IDX = F1.GROUP_IDX ORDER BY W_DATE DESC),'') AS FILE_DIR4,
						   ISNULL((SELECT TOP 1  FILE_DIR FROM TB_STOCK_FILE WHERE FILE_IDX = 5 AND GROUP_IDX = F1.GROUP_IDX ORDER BY W_DATE DESC),'') AS FILE_DIR5
					  from TB_STOCK F1 
					WHERE 1= 1 
					AND ISNULL(F1.OUT_NNO,'') NOT IN (SELECT NNO FROM TB_HAWB where USER_ID = #{userId})
					<if test='orgStation != null and orgStation != ""'>
					AND F1.ORG_STATION = #{orgStation}
					</if>
					AND F1.WH_STATUS = 'UG'
					AND (F1.USER_ID = #{userId} or F1.USER_ID IS NULL)
					<if test='whStatus != null and whStatus != ""'>
						AND F1.WH_STATUS = #{whStatus}
					</if>  
					<if test='orderNo != null and orderNo != ""'>	
					    AND (SELECT ORDER_NO FROM TB_ORDER_LIST WHERE NNO = F1.NNO AND USER_ID =F1.USER_ID AND ORG_STATION = F1.ORG_STATION) = #{orderNo} 
					</if>
					<if test='hawbNo != null and hawbNo != ""'>	
					    AND (SELECT HAWB_NO FROM TB_ORDER_LIST WHERE NNO = F1.NNO AND USER_ID =F1.USER_ID AND ORG_STATION = F1.ORG_STATION) = #{hawbNo} 
					</if>
					GROUP BY F1.NNO , 
						     F1.ORG_STATION , 
					         F1.USER_ID, 
					         F1.NNO , 
					         F1.WH_STATUS , 
					         F1.WH_IN_DATE,
					         F1.GROUP_IDX,
					         F1.RACK_CODE
					) M1
				WHERE M1.ROWNUM BETWEEN #{paging.boardStart} and #{paging.boardEnd}
	</select>


<select id="selectMsgHist" parameterType="hashMap" resultType="com.example.temp.manager.vo.StockMsgVO">
		SELECT * FROM TB_STOCK_MSG WHERE MSG_DIV = 'MSG' AND ORG_STATION =#{orgStation} AND GROUP_IDX = #{groupIdx} 
		AND (W_USER_ID IN (SELECT ADMIN_ID FROM TB_ADMIN) OR W_USER_ID = #{userId});
</select>


<insert id="insertMsgInfo" parameterType="com.example.temp.manager.vo.StockMsgVO">
	INSERT INTO TB_STOCK_MSG (
			ORG_STATION,
			GROUP_IDX,
			USER_ID,
			MSG_DIV,
			WH_MEMO,
			ADMIN_YN,
			W_USER_ID,
			W_USER_IP,
			W_DATE
		) VALUES ( 
			#{orgStation},
			#{groupIdx} ,
			#{userId},
			#{msgDiv},
			#{whMemo},
			#{adminYn},
			#{wUserId},
			#{wUserIp},
			GETDATE()
		)
</insert>

<select id="selectinspUserOrderWhInOutCnt" parameterType="hashMap" resultType="integer">
	SELECT count(*)
	  FROM TB_ORDER_LIST F1
    WHERE USER_ID = #{userId}
    AND CNEE_NAME LIKE CONCAT('%',#{cneeName},'%')
    AND ORDER_NO LIKE CONCAT('%',#{orderNo},'%')
    AND HAWB_NO LIKE CONCAT('%',#{hawbNo},'%')
    <if test='orgStation != null and orgStation != ""'>	
    AND ORG_STATION = #{orgStation}
    </if>
</select>

<select id="selectinspUserOrderWhInOut" parameterType="hashMap" resultType="com.example.temp.member.vo.stock.OrderWhInOutVO">
 SELECT * FROM (
		SELECT ROW_NUMBER() OVER(ORDER BY W_DATE DESC) ROWNUM,
		       ISNULL(NNO,'') AS NNO,
	           (SELECT STATION_NAME FROM TB_STATION WHERE STATION_CODE = F1.ORG_STATION) STATION_NAME,
	           ISNULL(ORDER_DATE,'') AS ORDER_DATE,
	           ISNULL(ORDER_NO,'') AS ORDER_NO ,
	           ISNULL(HAWB_NO,'') AS HAWB_NO ,
	           CNEE_NAME,
	           ISNULL((SELECT MIN(WH_IN_DATE) FROM TB_STOCK WHERE NNO = F1.NNO AND USER_ID = F1.USER_ID AND ORG_STATION = F1.ORG_STATION),'') MIN_WH_DATE,
	           (SELECT SUM(ITEM_CNT) FROM TB_ORDER_ITEM WHERE NNO = F1.NNO AND USER_ID = F1.USER_ID AND ORG_STATION = F1.ORG_STATION) RQ_CNT,
	           (SELECT COUNT(*) FROM TB_STOCK WHERE WH_STATUS = 'WO' AND NNO = F1.NNO AND USER_ID = F1.USER_ID AND ORG_STATION = F1.ORG_STATION) WO_CNT,
	           (SELECT COUNT(*) FROM TB_STOCK WHERE WH_STATUS = 'WF' AND NNO = F1.NNO AND USER_ID = F1.USER_ID AND ORG_STATION = F1.ORG_STATION) WF_CNT,
	           (SELECT COUNT(*) FROM TB_STOCK WHERE WH_STATUS = 'RT' AND NNO = F1.NNO AND USER_ID = F1.USER_ID AND ORG_STATION = F1.ORG_STATION) RT_CNT,
	           (SELECT COUNT(*) FROM TB_STOCK WHERE WH_STATUS = 'TR' AND NNO = F1.NNO AND USER_ID = F1.USER_ID AND ORG_STATION = F1.ORG_STATION) TR_CNT,
	           (SELECT COUNT(*) FROM TB_STOCK WHERE NNO = F1.NNO AND USER_ID = F1.USER_ID AND ORG_STATION = F1.ORG_STATION) WH_CNT ,
	           ISNULL((SELECT (SELECT DEP_DATE FROM TB_MAWB WHERE MAWB_NO = A1.MAWB_NO) FROM TB_HAWB A1 WHERE HAWB_NO = F1.HAWB_NO),'') WH_OUT_DATE
	   FROM TB_ORDER_LIST F1
	  WHERE USER_ID = #{userId}
	    AND CNEE_NAME LIKE CONCAT('%',#{cneeName},'%')
	    AND ORDER_NO LIKE CONCAT('%',#{orderNo},'%')
	    AND HAWB_NO LIKE CONCAT('%',#{hawbNo},'%')
	    <if test='orgStation != null and orgStation != ""'>	
	    AND ORG_STATION = #{orgStation}
	    </if>
 ) M1
 WHERE M1.ROWNUM BETWEEN #{paging.boardStart} and #{paging.boardEnd}
 ORDER BY ROWNUM ASC
</select>

<select id="selectOrderStation" parameterType="hashMap" resultType="hashMap">
	SELECT ORG_STATION as stationCode ,
           (SELECT STATION_NAME FROM TB_STATION WHERE STATION_CODE = F1.ORG_STATION) as stationName
      FROM TB_ORDER_LIST F1
     WHERE USER_ID = #{userId} 
     GROUP BY ORG_STATION
</select>

<select id="selectinspUserOrderStrockDetail" parameterType="hashMap" resultType="com.example.temp.member.vo.stock.OrderWhInOutVO">
	SELECT  F1.ORG_STATION, 
	        F2.HAWB_NO,
	        F2.ORDER_NO,
	        (SELECT STATION_NAME FROM TB_STATION WHERE STATION_CODE = F2.ORG_STATION) STATION_NAME,
	        CNEE_NAME,
	        CUS_ITEM_CODE,
	        ITEM_DETAIL ,
	        ITEM_CNT,
	        ISNULL((SELECT MIN(WH_IN_DATE) FROM TB_STOCK WHERE NNO = F1.NNO AND USER_ID = F1.USER_ID AND ORG_STATION = F1.ORG_STATION),'') MAX_WH_DATE,
	        (SELECT COUNT(*) FROM TB_STOCK WHERE WH_STATUS = 'WO' AND SUB_NO = F1.SUB_NO AND NNO = F1.NNO AND USER_ID = F1.USER_ID) WO_CNT,
	        (SELECT COUNT(*) FROM TB_STOCK WHERE WH_STATUS = 'WF' AND SUB_NO = F1.SUB_NO AND NNO = F1.NNO AND USER_ID = F1.USER_ID) WF_CNT,
	        (SELECT COUNT(*) FROM TB_STOCK WHERE WH_STATUS = 'RT' AND SUB_NO = F1.SUB_NO AND NNO = F1.NNO AND USER_ID = F1.USER_ID) RT_CNT,
	        (SELECT COUNT(*) FROM TB_STOCK WHERE WH_STATUS = 'TR' AND SUB_NO = F1.SUB_NO AND NNO = F1.NNO AND USER_ID = F1.USER_ID) TR_CNT,
	        (SELECT COUNT(*) FROM TB_STOCK WHERE SUB_NO = F1.SUB_NO AND NNO = F1.NNO AND USER_ID = F1.USER_ID) WH_CNT,
	        (SELECT SUPPLIER_CODE FROM TB_ORDER_ITEM_SUPPLIER WHERE SUB_NO = F1.SUB_NO AND NNO = F1.NNO) SUPPLIER_CODE ,
	        (SELECT HAWB_NO FROM TB_HAWB WHERE NNO = (SELECT MAX(OUT_NNO) FROM TB_STOCK WHERE SUB_NO = F1.SUB_NO AND NNO = F1.NNO AND USER_ID = F1.USER_ID)) OUT_HAWB_NO
	  FROM TB_ORDER_ITEM F1 , 
	       TB_ORDER_LIST F2
	 WHERE F1.NNO = F2.NNO 
	   AND F1.NNO = #{nno} 
	   AND F1.USER_ID = #{userId};
</select>

	
</mapper>