<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.temp.manager.mapper.ManagerStockMapper">
	<select id="selectTotalCountStockAdd" parameterType="hashMap" resultType="integer">
		SELECT COUNT(*) FROM (
						SELECT DISTINCT ROW_NUMBER() OVER(ORDER BY F1.GROUP_IDX ASC) ROWNUM,
						       F1.NNO ,
						       F1.SUB_NO,
						       F1.GROUP_IDX,
						       (SELECT STATION_NAME FROM TB_STATION WHERE STATION_CODE = F1.ORG_STATION) STATION_NAME,
						       F1.ORG_STATION ,
						       ISNULL((SELECT ORDER_NO FROM TB_ORDER_LIST WHERE NNO = F1.NNO AND USER_ID =F1.USER_ID AND ORG_STATION = F1.ORG_STATION),'') ORDER_NO,
						       ISNULL((SELECT HAWB_NO FROM TB_ORDER_LIST WHERE NNO = F1.NNO AND USER_ID =F1.USER_ID AND ORG_STATION = F1.ORG_STATION),'') HAWB_NO,
						       ISNULL((SELECT CNEE_NAME FROM TB_ORDER_LIST WHERE NNO = F1.NNO AND USER_ID =F1.USER_ID AND ORG_STATION = F1.ORG_STATION),'') CNEE_NAME,
						       ISNULL((SELECT CNEE_TEL FROM TB_ORDER_LIST WHERE NNO = F1.NNO AND USER_ID =F1.USER_ID AND ORG_STATION = F1.ORG_STATION),'') CNEE_TEL,
						       ISNULL((SELECT CNEE_HP FROM TB_ORDER_LIST WHERE NNO = F1.NNO AND USER_ID =F1.USER_ID AND ORG_STATION = F1.ORG_STATION),'') CNEE_HP,
						       ISNULL((SELECT CNEE_ADDR FROM TB_ORDER_LIST WHERE NNO = F1.NNO AND USER_ID =F1.USER_ID AND ORG_STATION = F1.ORG_STATION),'') CNEE_ADDR,
						       ISNULL((SELECT CNEE_ADDR_DETAIL FROM TB_ORDER_LIST WHERE NNO = F1.NNO AND USER_ID =F1.USER_ID AND ORG_STATION = F1.ORG_STATION),'') CNEE_ADDR_DETAIL,
						       F1.GROUP_IDX GROUP_CODE , 
						       F1.WH_STATUS ,
						       F1.WH_IN_DATE,
						       COUNT(*) WH_CNT,
						       (SELECT TOP 1 SUBSTRING(WH_MEMO,1,30) FROM TB_STOCK_MSG WHERE ORG_STATION = F1.ORG_STATION AND USER_ID = F1.USER_ID AND GROUP_IDX = F1.GROUP_IDX AND MSG_DIV = 'WHIN' ORDER BY W_DATE DESC) WH_MEMO,
						       F1.WTA ,
						       F1.WTC ,
						       ISNULL((SELECT TOP 1 FILE_DIR FROM TB_STOCK_FILE WHERE ORG_STATION = F1.ORG_STATION  AND GROUP_IDX = F1.GROUP_IDX AND FILE_IDX = '1' ORDER BY W_DATE DESC),'') FILE_DIR,
                         	   ISNULL((SELECT TOP 1 FILE_DIR FROM TB_STOCK_FILE WHERE ORG_STATION = F1.ORG_STATION  AND GROUP_IDX = F1.GROUP_IDX AND FILE_IDX = '2' ORDER BY W_DATE DESC),'') FILE_DIR2,
                         	   ISNULL((SELECT TOP 1 FILE_DIR FROM TB_STOCK_FILE WHERE ORG_STATION = F1.ORG_STATION  AND GROUP_IDX = F1.GROUP_IDX AND FILE_IDX = '3' ORDER BY W_DATE DESC),'') FILE_DIR3,
                               ISNULL((SELECT TOP 1 FILE_DIR FROM TB_STOCK_FILE WHERE ORG_STATION = F1.ORG_STATION  AND GROUP_IDX = F1.GROUP_IDX AND FILE_IDX = '4' ORDER BY W_DATE DESC),'') FILE_DIR4,
                               ISNULL((SELECT TOP 1 FILE_DIR FROM TB_STOCK_FILE WHERE ORG_STATION = F1.ORG_STATION  AND GROUP_IDX = F1.GROUP_IDX AND FILE_IDX = '5' ORDER BY W_DATE DESC),'') FILE_DIR5
						  FROM TB_STOCK F1 
						WHERE F1.ORG_STATION = #{orgStation}
						AND ISNULL(F1.OUT_NNO,'') NOT IN (SELECT NNO FROM TB_HAWB where ORG_STATION = #{orgStation})
						  AND F1.WH_STATUS NOT IN ('RT','TR','UG')
						  AND F1.STOCK_TYEP = 'INSP_ADD_IN'
						<if test='userId != null and userId != ""'>
							 AND F1.USER_ID = #{userId}
						</if>
						<if test='userId != null and userId != ""'>	
						    AND (SELECT HAWB_NO FROM TB_ORDER_LIST WHERE NNO = F1.NNO AND USER_ID =F1.USER_ID AND ORG_STATION = F1.ORG_STATION) = #{hawbNo} 
						</if>
						<if test='orderNo != null and orderNo != ""'>	
						    AND (SELECT ORDER_NO FROM TB_ORDER_LIST WHERE NNO = F1.NNO AND USER_ID =F1.USER_ID AND ORG_STATION = F1.ORG_STATION) = #{orderNo} 
						</if>
						<if test='hawbNo != null and hawbNo != ""'>	
						    AND (SELECT HAWB_NO FROM TB_ORDER_LIST WHERE NNO = F1.NNO AND USER_ID =F1.USER_ID AND ORG_STATION = F1.ORG_STATION) = #{hawbNo} 
						</if>
						GROUP BY F1.OUT_NNO,F1.ORG_STATION , 
						         F1.USER_ID, 
						         F1.NNO , 
						         F1.SUB_NO,
						         F1.WH_STATUS , 
						         F1.WH_IN_DATE ,
						         F1.WTA , 
						         F1.WTC , 
						         F1.GROUP_IDX
						) M1
	</select>
	<select id="selectTotalCountStock" parameterType="hashMap" resultType="integer">
	
		SELECT COUNT(*) FROM (
						SELECT DISTINCT ROW_NUMBER() OVER(ORDER BY F1.GROUP_IDX ASC) ROWNUM,
						       F1.NNO ,
						       F1.SUB_NO,
						       F1.GROUP_IDX,
						       (SELECT STATION_NAME FROM TB_STATION WHERE STATION_CODE = F1.ORG_STATION) STATION_NAME,
						       F1.ORG_STATION ,
						       ISNULL((SELECT ORDER_NO FROM TB_ORDER_LIST WHERE NNO = F1.NNO AND USER_ID =F1.USER_ID AND ORG_STATION = F1.ORG_STATION),'') ORDER_NO,
						       ISNULL((SELECT HAWB_NO FROM TB_ORDER_LIST WHERE NNO = F1.NNO AND USER_ID =F1.USER_ID AND ORG_STATION = F1.ORG_STATION),'') HAWB_NO,
						       ISNULL((SELECT CNEE_NAME FROM TB_ORDER_LIST WHERE NNO = F1.NNO AND USER_ID =F1.USER_ID AND ORG_STATION = F1.ORG_STATION),'') CNEE_NAME,
						       ISNULL((SELECT CNEE_TEL FROM TB_ORDER_LIST WHERE NNO = F1.NNO AND USER_ID =F1.USER_ID AND ORG_STATION = F1.ORG_STATION),'') CNEE_TEL,
						       ISNULL((SELECT CNEE_HP FROM TB_ORDER_LIST WHERE NNO = F1.NNO AND USER_ID =F1.USER_ID AND ORG_STATION = F1.ORG_STATION),'') CNEE_HP,
						       ISNULL((SELECT CNEE_ADDR FROM TB_ORDER_LIST WHERE NNO = F1.NNO AND USER_ID =F1.USER_ID AND ORG_STATION = F1.ORG_STATION),'') CNEE_ADDR,
						       ISNULL((SELECT CNEE_ADDR_DETAIL FROM TB_ORDER_LIST WHERE NNO = F1.NNO AND USER_ID =F1.USER_ID AND ORG_STATION = F1.ORG_STATION),'') CNEE_ADDR_DETAIL,
						       F1.GROUP_IDX GROUP_CODE , 
						       F1.WH_STATUS ,
						       F1.WH_IN_DATE,
						       COUNT(*) WH_CNT,
						       (SELECT TOP 1 SUBSTRING(WH_MEMO,1,30) FROM TB_STOCK_MSG WHERE ORG_STATION = F1.ORG_STATION AND USER_ID = F1.USER_ID AND GROUP_IDX = F1.GROUP_IDX AND MSG_DIV = 'WHIN' ORDER BY W_DATE DESC) WH_MEMO,
						       F1.WTA ,
						       F1.WTC ,
						       ISNULL((SELECT TOP 1 FILE_DIR FROM TB_STOCK_FILE WHERE ORG_STATION = F1.ORG_STATION  AND GROUP_IDX = F1.GROUP_IDX AND FILE_IDX = '1' ORDER BY W_DATE DESC),'') FILE_DIR,
                         	   ISNULL((SELECT TOP 1 FILE_DIR FROM TB_STOCK_FILE WHERE ORG_STATION = F1.ORG_STATION  AND GROUP_IDX = F1.GROUP_IDX AND FILE_IDX = '2' ORDER BY W_DATE DESC),'') FILE_DIR2,
                         	   ISNULL((SELECT TOP 1 FILE_DIR FROM TB_STOCK_FILE WHERE ORG_STATION = F1.ORG_STATION  AND GROUP_IDX = F1.GROUP_IDX AND FILE_IDX = '3' ORDER BY W_DATE DESC),'') FILE_DIR3,
                               ISNULL((SELECT TOP 1 FILE_DIR FROM TB_STOCK_FILE WHERE ORG_STATION = F1.ORG_STATION  AND GROUP_IDX = F1.GROUP_IDX AND FILE_IDX = '4' ORDER BY W_DATE DESC),'') FILE_DIR4,
                               ISNULL((SELECT TOP 1 FILE_DIR FROM TB_STOCK_FILE WHERE ORG_STATION = F1.ORG_STATION  AND GROUP_IDX = F1.GROUP_IDX AND FILE_IDX = '5' ORDER BY W_DATE DESC),'') FILE_DIR5
						  FROM TB_STOCK F1 
						WHERE F1.ORG_STATION = #{orgStation}
						AND ISNULL(F1.OUT_NNO,'') NOT IN (SELECT NNO FROM TB_HAWB where ORG_STATION = #{orgStation})
						  AND F1.WH_STATUS NOT IN ('RT','TR','UG')
						  AND F1.STOCK_TYEP = 'INSP_IN'
						<if test='userId != null and userId != ""'>
							 AND F1.USER_ID = #{userId}
						</if>
						<if test='userId != null and userId != ""'>	
						    AND (SELECT HAWB_NO FROM TB_ORDER_LIST WHERE NNO = F1.NNO AND USER_ID =F1.USER_ID AND ORG_STATION = F1.ORG_STATION) = #{hawbNo} 
						</if>
						<if test='orderNo != null and orderNo != ""'>	
						    AND (SELECT ORDER_NO FROM TB_ORDER_LIST WHERE NNO = F1.NNO AND USER_ID =F1.USER_ID AND ORG_STATION = F1.ORG_STATION) = #{orderNo} 
						</if>
						<if test='hawbNo != null and hawbNo != ""'>	
						    AND (SELECT HAWB_NO FROM TB_ORDER_LIST WHERE NNO = F1.NNO AND USER_ID =F1.USER_ID AND ORG_STATION = F1.ORG_STATION) = #{hawbNo} 
						</if>
						GROUP BY F1.OUT_NNO,F1.ORG_STATION , 
						         F1.USER_ID, 
						         F1.NNO , 
						         F1.SUB_NO,
						         F1.WH_STATUS , 
						         F1.WH_IN_DATE ,
						         F1.WTA , 
						         F1.WTC , 
						         F1.GROUP_IDX
						) M1
	</select>
	<select id="selectStockDisposalCnt" parameterType="hashMap" resultType="integer">
	SELECT COUNT(*) FROM (
					SELECT DISTINCT ROW_NUMBER() OVER(ORDER BY F1.GROUP_IDX ASC) ROWNUM,
					       F1.NNO ,
					       F1.SUB_NO,
					       F1.GROUP_IDX,
					         F1.RACK_CODE , 
					       (SELECT STATION_NAME FROM TB_STATION WHERE STATION_CODE = F1.ORG_STATION) STATION_NAME,
					       F1.ORG_STATION ,
					       ISNULL((SELECT ORDER_NO FROM TB_ORDER_LIST WHERE NNO = F1.NNO AND USER_ID =F1.USER_ID AND ORG_STATION = F1.ORG_STATION),'') ORDER_NO,
					       ISNULL((SELECT HAWB_NO FROM TB_ORDER_LIST WHERE NNO = F1.NNO AND USER_ID =F1.USER_ID AND ORG_STATION = F1.ORG_STATION),'') HAWB_NO,
					       ISNULL((SELECT CNEE_NAME FROM TB_ORDER_LIST WHERE NNO = F1.NNO AND USER_ID =F1.USER_ID AND ORG_STATION = F1.ORG_STATION),'') CNEE_NAME,
					       ISNULL((SELECT CNEE_TEL FROM TB_ORDER_LIST WHERE NNO = F1.NNO AND USER_ID =F1.USER_ID AND ORG_STATION = F1.ORG_STATION),'') CNEE_TEL,
					       ISNULL((SELECT CNEE_HP FROM TB_ORDER_LIST WHERE NNO = F1.NNO AND USER_ID =F1.USER_ID AND ORG_STATION = F1.ORG_STATION),'') CNEE_HP,
					       ISNULL((SELECT CNEE_ADDR FROM TB_ORDER_LIST WHERE NNO = F1.NNO AND USER_ID =F1.USER_ID AND ORG_STATION = F1.ORG_STATION),'') CNEE_ADDR,
					       ISNULL((SELECT CNEE_ADDR_DETAIL FROM TB_ORDER_LIST WHERE NNO = F1.NNO AND USER_ID =F1.USER_ID AND ORG_STATION = F1.ORG_STATION),'') CNEE_ADDR_DETAIL,
					       F1.GROUP_IDX GROUP_CODE , 
					       F1.WH_STATUS ,
					       F1.WH_IN_DATE,
					       COUNT(*) WH_CNT,
					       (SELECT TOP 1 SUBSTRING(WH_MEMO,1,30) FROM TB_STOCK_MSG WHERE ORG_STATION = F1.ORG_STATION AND USER_ID = F1.USER_ID AND GROUP_IDX = F1.GROUP_IDX AND MSG_DIV = 'WHIN' ORDER BY W_DATE DESC) WH_MEMO,
					       F1.WTA ,
					       F1.WTC ,
					       ISNULL((SELECT TOP 1 FILE_DIR FROM TB_STOCK_FILE WHERE ORG_STATION = F1.ORG_STATION  AND GROUP_IDX = F1.GROUP_IDX AND FILE_IDX = '1' ORDER BY W_DATE DESC),'') FILE_DIR,
                        	   ISNULL((SELECT TOP 1 FILE_DIR FROM TB_STOCK_FILE WHERE ORG_STATION = F1.ORG_STATION  AND GROUP_IDX = F1.GROUP_IDX AND FILE_IDX = '2' ORDER BY W_DATE DESC),'') FILE_DIR2,
                        	   ISNULL((SELECT TOP 1 FILE_DIR FROM TB_STOCK_FILE WHERE ORG_STATION = F1.ORG_STATION  AND GROUP_IDX = F1.GROUP_IDX AND FILE_IDX = '3' ORDER BY W_DATE DESC),'') FILE_DIR3,
                              ISNULL((SELECT TOP 1 FILE_DIR FROM TB_STOCK_FILE WHERE ORG_STATION = F1.ORG_STATION  AND GROUP_IDX = F1.GROUP_IDX AND FILE_IDX = '4' ORDER BY W_DATE DESC),'') FILE_DIR4,
                              ISNULL((SELECT TOP 1 FILE_DIR FROM TB_STOCK_FILE WHERE ORG_STATION = F1.ORG_STATION  AND GROUP_IDX = F1.GROUP_IDX AND FILE_IDX = '5' ORDER BY W_DATE DESC),'') FILE_DIR5
					  FROM TB_STOCK F1 
					WHERE F1.ORG_STATION = #{orgStation}
					AND ISNULL(F1.OUT_NNO,'') NOT IN (SELECT NNO FROM TB_HAWB where ORG_STATION = #{orgStation})
					  AND F1.WH_STATUS IN ('RT','TR')
					  AND F1.STOCK_TYEP = 'INSP_IN'
					<if test='userId != null and userId != ""'>
						 AND F1.USER_ID = #{userId}
					</if>
					<if test='userId != null and userId != ""'>	
					    AND (SELECT HAWB_NO FROM TB_ORDER_LIST WHERE NNO = F1.NNO AND USER_ID =F1.USER_ID AND ORG_STATION = F1.ORG_STATION) = #{hawbNo} 
					</if>
					<if test='orderNo != null and orderNo != ""'>	
					    AND (SELECT ORDER_NO FROM TB_ORDER_LIST WHERE NNO = F1.NNO AND USER_ID =F1.USER_ID AND ORG_STATION = F1.ORG_STATION) = #{orderNo} 
					</if>
					<if test='hawbNo != null and hawbNo != ""'>	
					    AND (SELECT HAWB_NO FROM TB_ORDER_LIST WHERE NNO = F1.NNO AND USER_ID =F1.USER_ID AND ORG_STATION = F1.ORG_STATION) = #{hawbNo} 
					</if>
					GROUP BY F1.OUT_NNO,F1.ORG_STATION , 
					         F1.USER_ID, 
					         F1.NNO , 
					         F1.SUB_NO,
					         F1.WH_STATUS , 
					         F1.WH_IN_DATE ,
					         F1.WTA , 
					         F1.WTC , 
					         F1.GROUP_IDX,
					         F1.RACK_CODE
					) M1
	</select> 
	
	<select id="selectInspStockOrderInfo" parameterType="String" resultType="com.example.temp.manager.vo.stockvo.GroupStockVO">
		SELECT NNO , ORDER_NO, ORG_STATION, CNEE_TEL, CNEE_HP, CNEE_ADDR, CNEE_NAME, CNEE_ADDR_DETAIL FROM TB_ORDER_LIST WHERE NNO = #{parameter}
	</select>
	
	<select id="selectInspStockList" parameterType="hashMap" resultType="com.example.temp.manager.vo.stockvo.GroupStockVO">
		SELECT * FROM (
						SELECT DISTINCT ROW_NUMBER() OVER(ORDER BY F1.GROUP_IDX ASC) ROWNUM,
						       ISNULL(F1.NNO ,'') AS NNO,
						       ISNULL(F1.USER_ID,'') USER_ID,
						       F1.GROUP_IDX,
						       F1.RACK_CODE , 
						       (SELECT STATION_NAME FROM TB_STATION WHERE STATION_CODE = F1.ORG_STATION) STATION_NAME,
						       F1.ORG_STATION ,
						       ISNULL((SELECT ORDER_NO FROM TB_ORDER_LIST WHERE NNO = F1.NNO AND USER_ID =F1.USER_ID AND ORG_STATION = F1.ORG_STATION),'') ORDER_NO,
						       ISNULL((SELECT HAWB_NO FROM TB_ORDER_LIST WHERE NNO = F1.NNO AND USER_ID =F1.USER_ID AND ORG_STATION = F1.ORG_STATION),'') HAWB_NO,
						       ISNULL((SELECT CNEE_NAME FROM TB_ORDER_LIST WHERE NNO = F1.NNO AND USER_ID =F1.USER_ID AND ORG_STATION = F1.ORG_STATION),'') CNEE_NAME,
						       ISNULL((SELECT CNEE_TEL FROM TB_ORDER_LIST WHERE NNO = F1.NNO AND USER_ID =F1.USER_ID AND ORG_STATION = F1.ORG_STATION),'') CNEE_TEL,
						       ISNULL((SELECT CNEE_HP FROM TB_ORDER_LIST WHERE NNO = F1.NNO AND USER_ID =F1.USER_ID AND ORG_STATION = F1.ORG_STATION),'') CNEE_HP,
						       ISNULL((SELECT CNEE_ADDR FROM TB_ORDER_LIST WHERE NNO = F1.NNO AND USER_ID =F1.USER_ID AND ORG_STATION = F1.ORG_STATION),'') CNEE_ADDR,
						       ISNULL((SELECT CNEE_ADDR_DETAIL FROM TB_ORDER_LIST WHERE NNO = F1.NNO AND USER_ID =F1.USER_ID AND ORG_STATION = F1.ORG_STATION),'') CNEE_ADDR_DETAIL,
						       F1.GROUP_IDX GROUP_CODE , 
						       F1.WH_STATUS ,
						       (SELECT NAME FROM TB_CODE WHERE CODE_DIV = 'WH_STATUS' AND CODE = F1.WH_STATUS) WH_STATUS_NAME,
						       F1.WH_IN_DATE,
						       COUNT(*) WH_CNT,
						       ISNULL((SELECT TOP 1 SUBSTRING(WH_MEMO,1,30) FROM TB_STOCK_MSG WHERE ORG_STATION = F1.ORG_STATION AND USER_ID = F1.USER_ID AND GROUP_IDX = F1.GROUP_IDX AND MSG_DIV = 'WHIN' ORDER BY W_DATE DESC),'') WH_MEMO,
						       ISNULL((SELECT TOP 1 SUBSTRING(WH_MEMO,1,30) FROM TB_STOCK_MSG WHERE ORG_STATION = F1.ORG_STATION AND USER_ID = F1.USER_ID AND GROUP_IDX = F1.GROUP_IDX AND MSG_DIV = 'MSG' AND ADMIN_YN = 'N' ORDER BY W_DATE DESC),'') USER_MSG,
						       ISNULL((SELECT TOP 1 SUBSTRING(WH_MEMO,1,30) FROM TB_STOCK_MSG WHERE ORG_STATION = F1.ORG_STATION AND USER_ID = F1.USER_ID AND GROUP_IDX = F1.GROUP_IDX AND MSG_DIV = 'MSG' AND ADMIN_YN = 'Y' ORDER BY W_DATE DESC),'') ADMIN_MSG,
						       ISNULL((SELECT TOP 1  FILE_DIR FROM TB_STOCK_FILE WHERE FILE_IDX = 1 AND GROUP_IDX = F1.GROUP_IDX ORDER BY W_DATE DESC),'') FILE_DIR,
						       ISNULL((SELECT TOP 1  FILE_DIR FROM TB_STOCK_FILE WHERE FILE_IDX = 2 AND GROUP_IDX = F1.GROUP_IDX ORDER BY W_DATE DESC),'') FILE_DIR2,
						       ISNULL((SELECT TOP 1  FILE_DIR FROM TB_STOCK_FILE WHERE FILE_IDX = 3 AND GROUP_IDX = F1.GROUP_IDX ORDER BY W_DATE DESC),'') FILE_DIR3,
						       ISNULL((SELECT TOP 1  FILE_DIR FROM TB_STOCK_FILE WHERE FILE_IDX = 4 AND GROUP_IDX = F1.GROUP_IDX ORDER BY W_DATE DESC),'') FILE_DIR4,
						       ISNULL((SELECT TOP 1  FILE_DIR FROM TB_STOCK_FILE WHERE FILE_IDX = 5 AND GROUP_IDX = F1.GROUP_IDX ORDER BY W_DATE DESC),'') FILE_DIR5
						  from TB_STOCK F1 
						WHERE F1.ORG_STATION = #{orgStation}
						AND ISNULL(F1.OUT_NNO,'') NOT IN (SELECT NNO FROM TB_HAWB where ORG_STATION = #{orgStation})
						   AND F1.WH_STATUS NOT IN ('RT','TR','UG')
						   AND F1.STOCK_TYEP = 'INSP_IN'
						<if test='userId != null and userId != ""'>
							 AND F1.USER_ID = #{userId}
						</if>
						<if test='orderNo != null and orderNo != ""'>	
						    AND (SELECT ORDER_NO FROM TB_ORDER_LIST WHERE NNO = F1.NNO AND USER_ID =F1.USER_ID AND ORG_STATION = F1.ORG_STATION) = #{orderNo} 
						</if>
						<if test='hawbNo != null and hawbNo != ""'>	
						    AND (SELECT HAWB_NO FROM TB_ORDER_LIST WHERE NNO = F1.NNO AND USER_ID =F1.USER_ID AND ORG_STATION = F1.ORG_STATION) = #{hawbNo} 
						</if>
						GROUP BY F1.NNO , 
							     F1.ORG_STATION , 
						         F1.USER_ID, 
						         F1.NNO , 
						         F1.WH_STATUS , 
						         F1.WH_IN_DATE,
						         F1.GROUP_IDX,
						         F1.RACK_CODE
						) M1
						WHERE M1.ROWNUM BETWEEN #{paging.boardStart} and #{paging.boardEnd}
	</select>
	
	<select id="selectInspStockAddList" parameterType="hashMap" resultType="com.example.temp.manager.vo.stockvo.GroupStockVO">
		SELECT * FROM (
						SELECT DISTINCT ROW_NUMBER() OVER(ORDER BY F1.GROUP_IDX ASC) ROWNUM,
						       ISNULL(F1.NNO ,'') AS NNO,
						       ISNULL(F1.USER_ID,'') USER_ID,
						       F1.GROUP_IDX,
						       F1.RACK_CODE , 
						       (SELECT STATION_NAME FROM TB_STATION WHERE STATION_CODE = F1.ORG_STATION) STATION_NAME,
						       F1.ORG_STATION ,
						       ISNULL((SELECT ORDER_NO FROM TB_ORDER_LIST WHERE NNO = F1.NNO AND USER_ID =F1.USER_ID AND ORG_STATION = F1.ORG_STATION),'') ORDER_NO,
						       ISNULL((SELECT HAWB_NO FROM TB_ORDER_LIST WHERE NNO = F1.NNO AND USER_ID =F1.USER_ID AND ORG_STATION = F1.ORG_STATION),'') HAWB_NO,
						       ISNULL((SELECT CNEE_NAME FROM TB_ORDER_LIST WHERE NNO = F1.NNO AND USER_ID =F1.USER_ID AND ORG_STATION = F1.ORG_STATION),'') CNEE_NAME,
						       ISNULL((SELECT CNEE_TEL FROM TB_ORDER_LIST WHERE NNO = F1.NNO AND USER_ID =F1.USER_ID AND ORG_STATION = F1.ORG_STATION),'') CNEE_TEL,
						       ISNULL((SELECT CNEE_HP FROM TB_ORDER_LIST WHERE NNO = F1.NNO AND USER_ID =F1.USER_ID AND ORG_STATION = F1.ORG_STATION),'') CNEE_HP,
						       ISNULL((SELECT CNEE_ADDR FROM TB_ORDER_LIST WHERE NNO = F1.NNO AND USER_ID =F1.USER_ID AND ORG_STATION = F1.ORG_STATION),'') CNEE_ADDR,
						       ISNULL((SELECT CNEE_ADDR_DETAIL FROM TB_ORDER_LIST WHERE NNO = F1.NNO AND USER_ID =F1.USER_ID AND ORG_STATION = F1.ORG_STATION),'') CNEE_ADDR_DETAIL,
						       F1.GROUP_IDX GROUP_CODE , 
						       F1.WH_STATUS ,
						       (SELECT NAME FROM TB_CODE WHERE CODE_DIV = 'WH_STATUS' AND CODE = F1.WH_STATUS) WH_STATUS_NAME,
						       F1.WH_IN_DATE,
						       COUNT(*) WH_CNT,
						       ISNULL((SELECT TOP 1 SUBSTRING(WH_MEMO,1,30) FROM TB_STOCK_MSG WHERE ORG_STATION = F1.ORG_STATION AND USER_ID = F1.USER_ID AND GROUP_IDX = F1.GROUP_IDX AND MSG_DIV = 'WHIN' ORDER BY W_DATE DESC),'') WH_MEMO,
						       ISNULL((SELECT TOP 1 SUBSTRING(WH_MEMO,1,30) FROM TB_STOCK_MSG WHERE ORG_STATION = F1.ORG_STATION AND USER_ID = F1.USER_ID AND GROUP_IDX = F1.GROUP_IDX AND MSG_DIV = 'MSG' AND ADMIN_YN = 'N' ORDER BY W_DATE DESC),'') USER_MSG,
						       ISNULL((SELECT TOP 1 SUBSTRING(WH_MEMO,1,30) FROM TB_STOCK_MSG WHERE ORG_STATION = F1.ORG_STATION AND USER_ID = F1.USER_ID AND GROUP_IDX = F1.GROUP_IDX AND MSG_DIV = 'MSG' AND ADMIN_YN = 'Y' ORDER BY W_DATE DESC),'') ADMIN_MSG,
						       ISNULL((SELECT TOP 1  FILE_DIR FROM TB_STOCK_FILE WHERE FILE_IDX = 1 AND GROUP_IDX = F1.GROUP_IDX ORDER BY W_DATE DESC),'') FILE_DIR,
						       ISNULL((SELECT TOP 1  FILE_DIR FROM TB_STOCK_FILE WHERE FILE_IDX = 2 AND GROUP_IDX = F1.GROUP_IDX ORDER BY W_DATE DESC),'') FILE_DIR2,
						       ISNULL((SELECT TOP 1  FILE_DIR FROM TB_STOCK_FILE WHERE FILE_IDX = 3 AND GROUP_IDX = F1.GROUP_IDX ORDER BY W_DATE DESC),'') FILE_DIR3,
						       ISNULL((SELECT TOP 1  FILE_DIR FROM TB_STOCK_FILE WHERE FILE_IDX = 4 AND GROUP_IDX = F1.GROUP_IDX ORDER BY W_DATE DESC),'') FILE_DIR4,
						       ISNULL((SELECT TOP 1  FILE_DIR FROM TB_STOCK_FILE WHERE FILE_IDX = 5 AND GROUP_IDX = F1.GROUP_IDX ORDER BY W_DATE DESC),'') FILE_DIR5
						  from TB_STOCK F1 
						WHERE F1.ORG_STATION = #{orgStation}
						AND ISNULL(F1.OUT_NNO,'') NOT IN (SELECT NNO FROM TB_HAWB where ORG_STATION = #{orgStation})
						   AND F1.WH_STATUS NOT IN ('RT','TR','UG')
						   AND F1.STOCK_TYEP = 'INSP_ADD_IN'
						<if test='userId != null and userId != ""'>
							 AND F1.USER_ID = #{userId}
						</if>
						<if test='orderNo != null and orderNo != ""'>	
						    AND (SELECT ORDER_NO FROM TB_ORDER_LIST WHERE NNO = F1.NNO AND USER_ID =F1.USER_ID AND ORG_STATION = F1.ORG_STATION) = #{orderNo} 
						</if>
						<if test='hawbNo != null and hawbNo != ""'>	
						    AND (SELECT HAWB_NO FROM TB_ORDER_LIST WHERE NNO = F1.NNO AND USER_ID =F1.USER_ID AND ORG_STATION = F1.ORG_STATION) = #{hawbNo} 
						</if>
						GROUP BY F1.NNO , 
							     F1.ORG_STATION , 
						         F1.USER_ID, 
						         F1.NNO , 
						         F1.WH_STATUS , 
						         F1.WH_IN_DATE,
						         F1.GROUP_IDX,
						         F1.RACK_CODE
						) M1
						WHERE M1.ROWNUM BETWEEN #{paging.boardStart} and #{paging.boardEnd}
	</select>
	
	<select id="selectStockDisposal" parameterType="hashMap" resultType="com.example.temp.manager.vo.stockvo.GroupStockVO">
	SELECT * FROM (
					SELECT DISTINCT ROW_NUMBER() OVER(ORDER BY F1.GROUP_IDX ASC) ROWNUM,
					       F1.NNO ,
					       F1.USER_ID,
					       F1.GROUP_IDX,
					       (SELECT STATION_NAME FROM TB_STATION WHERE STATION_CODE = F1.ORG_STATION) STATION_NAME,
					       F1.ORG_STATION ,
					       ISNULL((SELECT ORDER_NO FROM TB_ORDER_LIST WHERE NNO = F1.NNO AND USER_ID =F1.USER_ID AND ORG_STATION = F1.ORG_STATION),'') ORDER_NO,
					       ISNULL((SELECT HAWB_NO FROM TB_ORDER_LIST WHERE NNO = F1.NNO AND USER_ID =F1.USER_ID AND ORG_STATION = F1.ORG_STATION),'') HAWB_NO,
					       ISNULL((SELECT CNEE_NAME FROM TB_ORDER_LIST WHERE NNO = F1.NNO AND USER_ID =F1.USER_ID AND ORG_STATION = F1.ORG_STATION),'') CNEE_NAME,
					       ISNULL((SELECT CNEE_TEL FROM TB_ORDER_LIST WHERE NNO = F1.NNO AND USER_ID =F1.USER_ID AND ORG_STATION = F1.ORG_STATION),'') CNEE_TEL,
					       ISNULL((SELECT CNEE_HP FROM TB_ORDER_LIST WHERE NNO = F1.NNO AND USER_ID =F1.USER_ID AND ORG_STATION = F1.ORG_STATION),'') CNEE_HP,
					       ISNULL((SELECT CNEE_ADDR FROM TB_ORDER_LIST WHERE NNO = F1.NNO AND USER_ID =F1.USER_ID AND ORG_STATION = F1.ORG_STATION),'') CNEE_ADDR,
					       ISNULL((SELECT CNEE_ADDR_DETAIL FROM TB_ORDER_LIST WHERE NNO = F1.NNO AND USER_ID =F1.USER_ID AND ORG_STATION = F1.ORG_STATION),'') CNEE_ADDR_DETAIL,
					       F1.GROUP_IDX GROUP_CODE , 
					       F1.WH_STATUS ,
					       (SELECT NAME FROM TB_CODE WHERE CODE_DIV = 'WH_STATUS' AND CODE = F1.WH_STATUS) WH_STATUS_NAME,
					       F1.WH_IN_DATE,
					       COUNT(*) WH_CNT,
					       ISNULL((SELECT TOP 1 SUBSTRING(WH_MEMO,1,30) FROM TB_STOCK_MSG WHERE ORG_STATION = F1.ORG_STATION AND USER_ID = F1.USER_ID AND GROUP_IDX = F1.GROUP_IDX AND MSG_DIV = 'WHIN' ORDER BY W_DATE DESC),'') WH_MEMO,
					       ISNULL((SELECT TOP 1 SUBSTRING(WH_MEMO,1,30) FROM TB_STOCK_MSG WHERE ORG_STATION = F1.ORG_STATION AND USER_ID = F1.USER_ID AND GROUP_IDX = F1.GROUP_IDX AND MSG_DIV = 'MSG' AND ADMIN_YN = 'N' ORDER BY W_DATE DESC),'') USER_MSG,
					       ISNULL((SELECT TOP 1 SUBSTRING(WH_MEMO,1,30) FROM TB_STOCK_MSG WHERE ORG_STATION = F1.ORG_STATION AND USER_ID = F1.USER_ID AND GROUP_IDX = F1.GROUP_IDX AND MSG_DIV = 'MSG' AND ADMIN_YN = 'Y' ORDER BY W_DATE DESC),'') ADMIN_MSG,
					       ISNULL((SELECT TOP 1  FILE_DIR FROM TB_STOCK_FILE WHERE FILE_IDX = 1 AND GROUP_IDX = F1.GROUP_IDX ORDER BY W_DATE DESC),'') FILE_DIR,
					       ISNULL((SELECT TOP 1  FILE_DIR FROM TB_STOCK_FILE WHERE FILE_IDX = 2 AND GROUP_IDX = F1.GROUP_IDX ORDER BY W_DATE DESC),'') FILE_DIR2,
					       ISNULL((SELECT TOP 1  FILE_DIR FROM TB_STOCK_FILE WHERE FILE_IDX = 3 AND GROUP_IDX = F1.GROUP_IDX ORDER BY W_DATE DESC),'') FILE_DIR3,
					       ISNULL((SELECT TOP 1  FILE_DIR FROM TB_STOCK_FILE WHERE FILE_IDX = 4 AND GROUP_IDX = F1.GROUP_IDX ORDER BY W_DATE DESC),'') FILE_DIR4,
					       ISNULL((SELECT TOP 1  FILE_DIR FROM TB_STOCK_FILE WHERE FILE_IDX = 5 AND GROUP_IDX = F1.GROUP_IDX ORDER BY W_DATE DESC),'') FILE_DIR5
					  from TB_STOCK F1 
					WHERE F1.ORG_STATION = #{orgStation}
					AND ISNULL(F1.OUT_NNO,'') NOT IN (SELECT NNO FROM TB_HAWB where ORG_STATION = #{orgStation})
					   AND F1.WH_STATUS IN ('RT','TR')
					   AND F1.STOCK_TYEP = 'INSP_IN'
					<if test='userId != null and userId != ""'>
						 AND F1.USER_ID = #{userId}
					</if>
					<if test='userId != null and userId != ""'>
						 AND F1.USER_ID = #{userId}
					</if>
					<if test='userId != null and userId != ""'>	
					    AND (SELECT HAWB_NO FROM TB_ORDER_LIST WHERE NNO = F1.NNO AND USER_ID =F1.USER_ID AND ORG_STATION = F1.ORG_STATION) = #{hawbNo} 
					</if>
					<if test='orderNo != null and orderNo != ""'>	
					    AND (SELECT ORDER_NO FROM TB_ORDER_LIST WHERE NNO = F1.NNO AND USER_ID =F1.USER_ID AND ORG_STATION = F1.ORG_STATION) = #{orderNo} 
					</if>
					<if test='hawbNo != null and hawbNo != ""'>	
					    AND (SELECT HAWB_NO FROM TB_ORDER_LIST WHERE NNO = F1.NNO AND USER_ID =F1.USER_ID AND ORG_STATION = F1.ORG_STATION) = #{hawbNo} 
					</if>
					GROUP BY F1.NNO , 
						     F1.ORG_STATION , 
					         F1.USER_ID, 
					         F1.NNO , 
					         F1.WH_STATUS , 
					         F1.WH_IN_DATE,
					         F1.GROUP_IDX
					) M1
					WHERE M1.ROWNUM BETWEEN #{paging.boardStart} and #{paging.boardEnd}
	</select>
	
	
	<select id="selectMsgHist" parameterType="hashMap" resultType="com.example.temp.manager.vo.stockvo.StockMsgVO">
		SELECT ORG_STATION , USER_ID , WH_MEMO , ADMIN_YN , W_USER_ID , W_USER_IP , W_DATE
          FROM TB_STOCK_MSG WHERE MSG_DIV = 'MSG' AND GROUP_IDX = #{groupIdx}
	</select>
	
	<select id="selectGgroupStock" parameterType="hashMap" resultType="com.example.temp.manager.vo.stockvo.GroupStockInfoVO">
		SELECT F1.NNO , 
		       F2.USER_ID , 
		       F1.ORG_STATION,
		       F2.ORDER_NO ,
		       F2.HAWB_NO ,
		       F1.GROUP_IDX , 
		        COUNT(*) STOCK_CNT
		  FROM TB_STOCK  F1, 
		       TB_ORDER_LIST F2
		WHERE F1.NNO = F2.NNO 
		  AND F1.USER_ID = F2.USER_ID
		  AND F1.ORG_STATION = #{orgStation}
		  AND F1.USER_ID = #{userId}
		  AND F1.GROUP_IDX = #{groupIdx}
		 GROUP BY F1.NNO , 
		          F1.ORG_STATION,
		          F2.USER_ID ,
		          F2.ORDER_NO ,
		          F2.HAWB_NO,
		          F1.GROUP_IDX
	</select>
	
	
	
	<select id="selectGgroupStockDetail" parameterType="hashMap" resultType="com.example.temp.manager.vo.stockvo.GroupStockDetailVO">
			SELECT ISNULL(F2.ITEM_DETAIL,'') ITEM_DETAIL,
			       COUNT(*) UNIT_CNT
			  FROM TB_STOCK F1  ,
			       TB_ORDER_ITEM F2
			WHERE F1.NNO = F2.NNO 
			  AND F1.SUB_NO = F2.SUB_NO
			  AND F1.ORG_STATION = #{orgStation}
		      AND F1.USER_ID = #{userId}
		      AND F1.GROUP_IDX = #{groupIdx}
			GROUP BY F1.NNO , 
			         F1.SUB_NO , 
			         F2.ITEM_DETAIL
	</select>
	
	
	
	<insert id="insertMsgInfo" parameterType="com.example.temp.manager.vo.StockMsgVO">
		INSERT INTO TB_STOCK_MSG (
			ORG_STATION,
			GROUP_IDX,
			USER_ID,
			MSG_DIV,
			WH_MEMO,
			ADMIN_YN,
			W_USER_ID,
			W_USER_IP,
			W_DATE,
			NNO
		) VALUES ( 
			#{orgStation},
			#{groupIdx} ,
			#{userId},
			#{msgDiv},
			#{whMemo},
			#{adminYn},
			#{wUserId},
			#{wUserIp},
			GETDATE(),
			(SELECT TOP 1 NNO FROM TB_STOCK WHERE GROUP_IDX = #{groupIdx})
		)
	</insert>
	
	<select id="spStockDisposal" parameterType="hashMap" resultType="hashMap" statementType="CALLABLE">
		DECLARE
		@GROUP_IDX NVARCHAR(50),
		@ORG_STATION NVARCHAR(50),
		@USER_ID NVARCHAR(50),
		@DISPOSAL_TYPE NVARCHAR(50),
		@TRK_COM NVARCHAR(30),
		@TRK_NO NVARCHAR(30),
		@TRK_DATE NVARCHAR(8),
		@CHG_AMT FLOAT ,
		@W_USER_ID NVARCHAR(50),
		@W_USER_IP NVARCHAR(50),
		@RST_STATUS NVARCHAR(10),
		@RST_CODE NVARCHAR(50),
		@RST_MSG NVARCHAR(100),
		@RST_GROUP_IDX NVARCHAR(100)
		
		
		SET @GROUP_IDX = #{groupIdx}
		SET @ORG_STATION = #{orgStation}
		SET @USER_ID = #{userId}
		SET @DISPOSAL_TYPE = #{disposalType}
		SET @TRK_COM = #{trkCom}
		SET @TRK_NO = #{trkNo}
		SET @TRK_DATE = #{trkDate}
		SET @CHG_AMT = #{chgAmt}
		SET @W_USER_ID = #{wUserId}
		SET @W_USER_IP = #{wUserIp}
		
		EXEC SP_STOCK_DISPOSAL
		@GROUP_IDX ,
		@ORG_STATION ,
		@USER_ID ,
		@DISPOSAL_TYPE ,
		@TRK_COM ,
		@TRK_NO ,
		@TRK_DATE ,
		@CHG_AMT ,
		@W_USER_ID ,
		@W_USER_IP ,
		@RST_STATUS OUTPUT,
		@RST_CODE OUTPUT,
		@RST_MSG OUTPUT,
		@RST_GROUP_IDX OUTPUT
		
		
		SELECT 
		@RST_STATUS AS RST_STATUS,
		@RST_CODE  AS RST_CODE,
		@RST_MSG AS RST_MSG,
		@RST_GROUP_IDX AS RST_GROUP_IDX
	</select>
	
	<select id="spStockDisposalcancle" parameterType="hashMap" resultType="hashMap" statementType="CALLABLE">
		DECLARE
		@GROUP_IDX NVARCHAR(50),
		@ORG_STATION NVARCHAR(50),
		@USER_ID NVARCHAR(50),
		@W_USER_ID NVARCHAR(50),
		@W_USER_IP NVARCHAR(50),
		@RST_STATUS NVARCHAR(10),
		@RST_CODE NVARCHAR(50),
		@RST_MSG NVARCHAR(100),
		@RST_GROUP_IDX NVARCHAR(100)
		
		
		SET @GROUP_IDX = #{groupIdx}
		SET @ORG_STATION = #{orgStation}
		SET @USER_ID = #{userId}
		SET @W_USER_ID = #{wUserId}
		SET @W_USER_IP = #{wUserIp}
		
		EXEC SP_STOCK_DISPOSAL_CANCLE
		@GROUP_IDX ,
		@ORG_STATION ,
		@USER_ID ,
		@W_USER_ID ,
		@W_USER_IP ,
		@RST_STATUS OUTPUT,
		@RST_CODE OUTPUT,
		@RST_MSG OUTPUT,
		@RST_GROUP_IDX OUTPUT
		
		SELECT 
		@RST_STATUS AS RST_STATUS,
		@RST_CODE  AS RST_CODE,
		@RST_MSG AS RST_MSG,
		@RST_GROUP_IDX AS RST_GROUP_IDX
	</select>
	
	
	
	
	<select id="spStockCancle" parameterType="hashMap" resultType="hashMap" statementType="CALLABLE">
		DECLARE
		@GROUP_IDX NVARCHAR(50),
		@ORG_STATION NVARCHAR(3),
		@USER_ID NVARCHAR(50),
		@W_USER_ID NVARCHAR(50),
		@W_USER_IP NVARCHAR(50),
		@RST_STATUS NVARCHAR(50),
		@RST_CODE NVARCHAR(50),
		@RST_MSG NVARCHAR(100),
		@RST_IDX NVARCHAR(50) 
		
		
		SET @GROUP_IDX = #{groupIdx}
		SET @ORG_STATION = #{orgStation}
		SET @USER_ID = #{userId}
		SET @W_USER_ID = #{wUserId}
		SET @W_USER_IP = #{wUserIp}
		
		EXEC SP_INSP_STOCK_DEL_GROUP_IDX
		@GROUP_IDX ,
		@ORG_STATION,
		@W_USER_ID ,
		@W_USER_IP ,
		@RST_STATUS  OUTPUT,
		@RST_CODE  OUTPUT,
		@RST_MSG  OUTPUT,
		@RST_IDX  OUTPUT
		
		
		SELECT @RST_STATUS AS RST_STATUS , @RST_MSG AS RST_MSG , @RST_MSG AS RST_MSG  ,@RST_IDX AS RST_IDX
	</select>
	
	
	<select id="selectStockUnidentifiedItemCount" parameterType="hashMap" resultType="integer">
	SELECT COUNT(*) FROM (
					SELECT DISTINCT ROW_NUMBER() OVER(ORDER BY F1.GROUP_IDX ASC) ROWNUM,
					       F1.NNO ,
					       F1.SUB_NO,
					       F1.GROUP_IDX,
					         F1.RACK_CODE , 
					       (SELECT STATION_NAME FROM TB_STATION WHERE STATION_CODE = F1.ORG_STATION) STATION_NAME,
					       F1.ORG_STATION ,
					       ISNULL((SELECT ORDER_NO FROM TB_ORDER_LIST WHERE NNO = F1.NNO AND USER_ID =F1.USER_ID AND ORG_STATION = F1.ORG_STATION),'') ORDER_NO,
					       ISNULL((SELECT HAWB_NO FROM TB_ORDER_LIST WHERE NNO = F1.NNO AND USER_ID =F1.USER_ID AND ORG_STATION = F1.ORG_STATION),'') HAWB_NO,
					       ISNULL((SELECT CNEE_NAME FROM TB_ORDER_LIST WHERE NNO = F1.NNO AND USER_ID =F1.USER_ID AND ORG_STATION = F1.ORG_STATION),'') CNEE_NAME,
					       ISNULL((SELECT CNEE_TEL FROM TB_ORDER_LIST WHERE NNO = F1.NNO AND USER_ID =F1.USER_ID AND ORG_STATION = F1.ORG_STATION),'') CNEE_TEL,
					       ISNULL((SELECT CNEE_HP FROM TB_ORDER_LIST WHERE NNO = F1.NNO AND USER_ID =F1.USER_ID AND ORG_STATION = F1.ORG_STATION),'') CNEE_HP,
					       ISNULL((SELECT CNEE_ADDR FROM TB_ORDER_LIST WHERE NNO = F1.NNO AND USER_ID =F1.USER_ID AND ORG_STATION = F1.ORG_STATION),'') CNEE_ADDR,
					       ISNULL((SELECT CNEE_ADDR_DETAIL FROM TB_ORDER_LIST WHERE NNO = F1.NNO AND USER_ID =F1.USER_ID AND ORG_STATION = F1.ORG_STATION),'') CNEE_ADDR_DETAIL,
					       F1.GROUP_IDX GROUP_CODE , 
					       F1.WH_STATUS ,
					       F1.WH_IN_DATE,
					       COUNT(*) WH_CNT,
					       (SELECT TOP 1 SUBSTRING(WH_MEMO,1,30) FROM TB_STOCK_MSG WHERE ORG_STATION = F1.ORG_STATION AND USER_ID = F1.USER_ID AND GROUP_IDX = F1.GROUP_IDX AND MSG_DIV = 'WHIN' ORDER BY W_DATE DESC) WH_MEMO,
					       F1.WTA ,
					       F1.WTC ,
					       ISNULL((SELECT TOP 1 FILE_DIR FROM TB_STOCK_FILE WHERE ORG_STATION = F1.ORG_STATION  AND GROUP_IDX = F1.GROUP_IDX AND FILE_IDX = '1' ORDER BY W_DATE DESC),'') FILE_DIR,
                        	   ISNULL((SELECT TOP 1 FILE_DIR FROM TB_STOCK_FILE WHERE ORG_STATION = F1.ORG_STATION  AND GROUP_IDX = F1.GROUP_IDX AND FILE_IDX = '2' ORDER BY W_DATE DESC),'') FILE_DIR2,
                        	   ISNULL((SELECT TOP 1 FILE_DIR FROM TB_STOCK_FILE WHERE ORG_STATION = F1.ORG_STATION  AND GROUP_IDX = F1.GROUP_IDX AND FILE_IDX = '3' ORDER BY W_DATE DESC),'') FILE_DIR3,
                              ISNULL((SELECT TOP 1 FILE_DIR FROM TB_STOCK_FILE WHERE ORG_STATION = F1.ORG_STATION  AND GROUP_IDX = F1.GROUP_IDX AND FILE_IDX = '4' ORDER BY W_DATE DESC),'') FILE_DIR4,
                              ISNULL((SELECT TOP 1 FILE_DIR FROM TB_STOCK_FILE WHERE ORG_STATION = F1.ORG_STATION  AND GROUP_IDX = F1.GROUP_IDX AND FILE_IDX = '5' ORDER BY W_DATE DESC),'') FILE_DIR5
					  FROM TB_STOCK F1 
					WHERE F1.ORG_STATION = #{orgStation}
					AND ISNULL(F1.OUT_NNO,'') NOT IN (SELECT NNO FROM TB_HAWB where ORG_STATION = #{orgStation})
					  AND F1.WH_STATUS IN ('UG')
					<if test='userId != null and userId != ""'>
						 AND F1.USER_ID = #{userId}
					</if>
					<if test='userId != null and userId != ""'>	
					    AND (SELECT HAWB_NO FROM TB_ORDER_LIST WHERE NNO = F1.NNO AND USER_ID =F1.USER_ID AND ORG_STATION = F1.ORG_STATION) = #{hawbNo} 
					</if>
					<if test='orderNo != null and orderNo != ""'>	
					    AND (SELECT ORDER_NO FROM TB_ORDER_LIST WHERE NNO = F1.NNO AND USER_ID =F1.USER_ID AND ORG_STATION = F1.ORG_STATION) = #{orderNo} 
					</if>
					<if test='hawbNo != null and hawbNo != ""'>	
					    AND (SELECT HAWB_NO FROM TB_ORDER_LIST WHERE NNO = F1.NNO AND USER_ID =F1.USER_ID AND ORG_STATION = F1.ORG_STATION) = #{hawbNo} 
					</if>
					GROUP BY F1.OUT_NNO,F1.ORG_STATION , 
					         F1.USER_ID, 
					         F1.NNO , 
					         F1.SUB_NO,
					         F1.WH_STATUS , 
					         F1.WH_IN_DATE ,
					         F1.WTA , 
					         F1.WTC , 
					         F1.GROUP_IDX,
					         F1.RACK_CODE
					) M1
	</select> 
	
	<select id="selectStockUnidentifiedItem" parameterType="hashMap" resultType="com.example.temp.manager.vo.stockvo.GroupStockVO">
	SELECT * FROM (
					SELECT DISTINCT ROW_NUMBER() OVER(ORDER BY F1.GROUP_IDX ASC) ROWNUM,
					       ISNULL(F1.USER_ID,'') AS USER_ID,
					       F1.GROUP_IDX,
					       (SELECT STATION_NAME FROM TB_STATION WHERE STATION_CODE = F1.ORG_STATION) STATION_NAME,
					       F1.ORG_STATION ,
					       ISNULL((SELECT ORDER_NO FROM TB_ORDER_LIST WHERE NNO = F1.NNO AND USER_ID =F1.USER_ID AND ORG_STATION = F1.ORG_STATION),'') ORDER_NO,
					       ISNULL((SELECT HAWB_NO FROM TB_ORDER_LIST WHERE NNO = F1.NNO AND USER_ID =F1.USER_ID AND ORG_STATION = F1.ORG_STATION),'') HAWB_NO,
					       ISNULL((SELECT CNEE_NAME FROM TB_ORDER_LIST WHERE NNO = F1.NNO AND USER_ID =F1.USER_ID AND ORG_STATION = F1.ORG_STATION),'') CNEE_NAME,
					       ISNULL((SELECT CNEE_TEL FROM TB_ORDER_LIST WHERE NNO = F1.NNO AND USER_ID =F1.USER_ID AND ORG_STATION = F1.ORG_STATION),'') CNEE_TEL,
					       ISNULL((SELECT CNEE_HP FROM TB_ORDER_LIST WHERE NNO = F1.NNO AND USER_ID =F1.USER_ID AND ORG_STATION = F1.ORG_STATION),'') CNEE_HP,
					       ISNULL((SELECT CNEE_ADDR FROM TB_ORDER_LIST WHERE NNO = F1.NNO AND USER_ID =F1.USER_ID AND ORG_STATION = F1.ORG_STATION),'') CNEE_ADDR,
					       ISNULL((SELECT CNEE_ADDR_DETAIL FROM TB_ORDER_LIST WHERE NNO = F1.NNO AND USER_ID =F1.USER_ID AND ORG_STATION = F1.ORG_STATION),'') CNEE_ADDR_DETAIL,
					       F1.GROUP_IDX GROUP_CODE , 
					       F1.WH_STATUS ,
					       (SELECT NAME FROM TB_CODE WHERE CODE_DIV = 'WH_STATUS' AND CODE = F1.WH_STATUS) WH_STATUS_NAME,
					       F1.WH_IN_DATE,
					       COUNT(*) WH_CNT,
					       <!-- ISNULL((SELECT TOP 1 SUBSTRING(WH_MEMO,1,30) FROM TB_STOCK_MSG WHERE ORG_STATION = F1.ORG_STATION AND USER_ID = F1.USER_ID AND GROUP_IDX = F1.GROUP_IDX AND MSG_DIV = 'WHIN' ORDER BY W_DATE DESC),'') WH_MEMO,
					       ISNULL((SELECT TOP 1 SUBSTRING(WH_MEMO,1,30) FROM TB_STOCK_MSG WHERE ORG_STATION = F1.ORG_STATION AND USER_ID = F1.USER_ID AND GROUP_IDX = F1.GROUP_IDX AND MSG_DIV = 'MSG' AND ADMIN_YN = 'N' ORDER BY W_DATE DESC),'') USER_MSG,
					       ISNULL((SELECT TOP 1 SUBSTRING(WH_MEMO,1,30) FROM TB_STOCK_MSG WHERE ORG_STATION = F1.ORG_STATION AND USER_ID = F1.USER_ID AND GROUP_IDX = F1.GROUP_IDX AND MSG_DIV = 'MSG' AND ADMIN_YN = 'Y' ORDER BY W_DATE DESC),'') ADMIN_MSG, -->
					       ISNULL((SELECT TOP 1 SUBSTRING(WH_MEMO,1,30) FROM TB_STOCK_MSG WHERE ORG_STATION = F1.ORG_STATION AND GROUP_IDX = F1.GROUP_IDX AND MSG_DIV = 'WHIN' ORDER BY W_DATE DESC),'') WH_MEMO,
					       ISNULL((SELECT TOP 1 SUBSTRING(WH_MEMO,1,30) FROM TB_STOCK_MSG WHERE ORG_STATION = F1.ORG_STATION AND GROUP_IDX = F1.GROUP_IDX AND MSG_DIV = 'MSG' AND ADMIN_YN = 'N' ORDER BY W_DATE DESC),'') USER_MSG,
					       ISNULL((SELECT TOP 1 SUBSTRING(WH_MEMO,1,30) FROM TB_STOCK_MSG WHERE ORG_STATION = F1.ORG_STATION AND GROUP_IDX = F1.GROUP_IDX AND MSG_DIV = 'MSG' AND ADMIN_YN = 'Y' ORDER BY W_DATE DESC),'') ADMIN_MSG,
					       ISNULL((SELECT TOP 1 ADMIN_YN FROM TB_STOCK_MSG WHERE ORG_STATION = F1.ORG_STATION AND GROUP_IDX = F1.GROUP_IDX AND MSG_DIV = 'MSG' ORDER BY W_DATE DESC),'') NEW_YN,
					       ISNULL((SELECT TOP 1  FILE_DIR FROM TB_STOCK_FILE WHERE FILE_IDX = 1 AND GROUP_IDX = F1.GROUP_IDX ORDER BY W_DATE DESC),'') FILE_DIR,
					       ISNULL((SELECT TOP 1  FILE_DIR FROM TB_STOCK_FILE WHERE FILE_IDX = 2 AND GROUP_IDX = F1.GROUP_IDX ORDER BY W_DATE DESC),'') FILE_DIR2,
					       ISNULL((SELECT TOP 1  FILE_DIR FROM TB_STOCK_FILE WHERE FILE_IDX = 3 AND GROUP_IDX = F1.GROUP_IDX ORDER BY W_DATE DESC),'') FILE_DIR3,
					       ISNULL((SELECT TOP 1  FILE_DIR FROM TB_STOCK_FILE WHERE FILE_IDX = 4 AND GROUP_IDX = F1.GROUP_IDX ORDER BY W_DATE DESC),'') FILE_DIR4,
					       ISNULL((SELECT TOP 1  FILE_DIR FROM TB_STOCK_FILE WHERE FILE_IDX = 5 AND GROUP_IDX = F1.GROUP_IDX ORDER BY W_DATE DESC),'') FILE_DIR5
					  from TB_STOCK F1 
					WHERE F1.ORG_STATION = #{orgStation}
					AND ISNULL(F1.OUT_NNO,'') NOT IN (SELECT NNO FROM TB_HAWB where ORG_STATION = #{orgStation})
					   AND F1.WH_STATUS IN ('UG')
					<if test='userId != null and userId != ""'>
						 AND F1.USER_ID = #{userId}
					</if>
					<if test='userId != null and userId != ""'>
						 AND F1.USER_ID = #{userId}
					</if>
					<if test='userId != null and userId != ""'>	
					    AND (SELECT HAWB_NO FROM TB_ORDER_LIST WHERE NNO = F1.NNO AND USER_ID =F1.USER_ID AND ORG_STATION = F1.ORG_STATION) = #{hawbNo} 
					</if>
					<if test='orderNo != null and orderNo != ""'>	
					    AND (SELECT ORDER_NO FROM TB_ORDER_LIST WHERE NNO = F1.NNO AND USER_ID =F1.USER_ID AND ORG_STATION = F1.ORG_STATION) = #{orderNo} 
					</if>
					<if test='hawbNo != null and hawbNo != ""'>	
					    AND (SELECT HAWB_NO FROM TB_ORDER_LIST WHERE NNO = F1.NNO AND USER_ID =F1.USER_ID AND ORG_STATION = F1.ORG_STATION) = #{hawbNo} 
					</if>
					GROUP BY F1.NNO , 
						     F1.ORG_STATION , 
					         F1.USER_ID, 
					         F1.NNO , 
					         F1.WH_STATUS , 
					         F1.WH_IN_DATE,
					         F1.GROUP_IDX
					) M1
					WHERE M1.ROWNUM BETWEEN #{paging.boardStart} and #{paging.boardEnd}
	</select>
	
	
</mapper>